@charset "utf-8";

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 300;
    src: local('SpoqaHanSansNeo-Light'),
    url('../font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 500;
    src: local('SpoqaHanSansNeo-Medium'),
    url('../font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SFProDisplay';
    font-weight: 300;
    src: local('SF-Pro-Display-Light'),
    url('../font/SF-Pro-Display-Light.woff2') format('woff2'),
    url('../font/SF-Pro-Display-Light.woff') format('woff'),
    url('../font/SF-Pro-Display-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SFProDisplay';
    font-weight: 500;
    src: local('SF-Pro-Display-Medium'),
    url('../font/SF-Pro-Display-Medium.woff2') format('woff2'),
    url('../font/SF-Pro-Display-Medium.woff') format('woff'),
    url('../font/SF-Pro-Display-Medium.ttf') format('truetype');
}

/* common */
* {margin:0; padding:0; box-sizing: border-box; list-style:none; text-decoration:none;
    outline: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: transparent; }
html, body { width: 100%; position: relative; font-size:12px; font-family: 'SpoqaHanSansNeo', 'Sans-serif'; letter-spacing: -0.05em; line-height:1.4; font-weight:300; color:#000; }
ul>li>a { text-decoration:none; }
a {color: inherit;}
table { border-collapse: collapse; }
.blind {position:absolute !important;visibility:hidden !important;top:0 !important;left:0 !important;height:0 !important;width:0 !important;font-size:0 !important;line-height:0 !important;overflow:hidden !important;}
fieldset {border:none;}
legend {display:none;}
caption {display:none;}
p, strong, span {letter-spacing: -0.05em;}
i {display: inline-block;}
em {font-style: normal; letter-spacing: -1px;}
input {box-sizing: border-box; border: 1px solid #ddd; background-color: #fff; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family:inherit; }
input[type=text]::-ms-clear {display:none;}
button {box-sizing: border-box; border: 0; background-color: transparent; cursor: pointer; color:inherit; font-family: 'SpoqaHanSansNeo', 'Sans-serif'; font-weight:300; }
textarea {box-sizing: border-box; resize: none;}
select {-webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; box-sizing: border-box; cursor: pointer; font-family: inherit; }
select::-ms-expand {display: none;}
img { max-width:100%; vertical-align:middle; }
hr { border:0; }

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }


/* Text Align */
.ta-l { text-align:left !important; }
.ta-c { text-align:center !important; }
.ta-r { text-align:right !important; }


/* Padding */
.pl0 { padding-left:0 !important; }

.pr0 { padding-right:0 !important; }

.pt0 { padding-top:0 !important; }
.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt30 { padding-top:30px !important; }
.pt40 { padding-top:40px !important; }
.pt45 { padding-top:45px !important; }
.pt50 { padding-top:50px !important; }

.pb0 { padding-bottom:0 !important; }
.pb10 { padding-bottom:10px !important; }
.pb15 { padding-bottom:15px !important; }
.pb20 { padding-bottom:20px !important; }
.pb30 { padding-bottom:30px !important; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px !important; }
.pb100 { padding-bottom:100px !important; }

.prl0 { padding:0 0px !important; }
.prl10 { padding:0 10px !important; }
.prl15 { padding:0 15px !important; }
.prl20 { padding:0 20px !important; }


/* Margin */
.ml10 { margin-left:10px !important; }

.mtb0 { margin:0px 0 !important; }
.mtb10 { margin:10px 0 !important; }
.mtb15 { margin:15px 0 !important; }
.mtb20 { margin:20px 0 !important; }
.mtb25 { margin:25px 0 !important; }
.mtb30 { margin:30px 0 !important; }
.mtb40 { margin:40px 0 !important; }
.mtb50 { margin:50px 0 !important; }
.mtb60 { margin:60px 0 !important; }

.mb0 { margin-bottom:0px !important; }
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb30 { margin-bottom:30px !important; }
.mb35 { margin-bottom:35px !important; }
.mb40 { margin-bottom:40px !important; }
.mb45 { margin-bottom:45px !important; }
.mb50 { margin-bottom:50px !important; }
.mb60 { margin-bottom:60px !important; }
.mb70 { margin-bottom:70px !important; }

.mt0 { margin-top:0px !important; }
.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }
.mt55 { margin-top:55px !important; }
.mt60 { margin-top:60px !important; }
.mt70 { margin-top:70px !important; }
.mt100 { margin-top:100px !important; }

.bd0 { border:0 !important; }

hr.section--space { height:8px; background:#f2f4f6; }

span.en { font-family:"SFProDisplay", 'Sans-serif'; }
.fApple { font-family:"AppleSDGothicNeo", "Sans-serif"; }

/* LAYOUT */
#header { padding:20px 15px; position:relative; background:#fff; border-bottom:1px solid #ddd; }
#header h1 { width:114px; height:24px; background:url('../images/common/logo.png') no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }
#header .btnMypage { width:30px; height:36px; position:absolute; right:45px; top:16px; background:url('../images/common/btmMypage.png') center center no-repeat; background-size:22px auto; font-size:0; text-indent:-99999px; }
#header .btnAlarm { width:30px; height:36px; position:absolute; right:15px; top:16px; background:url('../images/common/btnAlarm.png') center center no-repeat; background-size:22px auto; font-size:0; text-indent:-99999px; }
#header .btnAlarm.check:after { content:''; width:8px; height:8px; position:absolute; right:6px; top:10px; border-radius:50%; background:#ff7474; }

#container {  }
#container.main { padding:0 0 8px; background:#f2f4f6; }
#container.sub { padding:0 0 100px; }
#container.wallet { padding:0; background:#2750f2; }
#container.wallet h1 { color:#fff; }
#container.account { padding:0 8px; }
#container.voucher { background:#ffdf31; }

#container.main.typeB { padding:0; }

.box { position:relative; }
.box.bgWhite { padding:22px 20px; background:#fff; }
.box.bgGray { padding:22px 20px; border-radius:5px; background:#f2f4f6; border-radius:5px; }
.box.bgMint { padding:35px 38px; background:#f0f9ff; }

.section { padding:55px 0; margin-bottom:8px; background:#fff; }
.section:last-child { margin-bottom:0; }

.radius10 { border-radius:10px; }
.radius20 { border-radius:20px; }

.color-000 { color:#000 !important; }
.color-2c { color:#2c2c2c !important; }
.color-blue { color:#2750f2 !important; }
.color-red { color:#ff6363 !important; }
.color-green { color:#4fd884 !important; }

.bgRed { background:#f00 !important; }
.bgBlue { background:#00f !important; }

.ft15 { font-size:15px !important; line-height:1.8em !important; }
.ft19 { font-size:19px !important; }

.top--btn { width:100%; position:absolute; left:0; top:0; }
.top--btn button { width:100%; height:35px; position:absolute; left:0; top:0; font-size:0; text-indent:-99999px; }
.top--btn button:after { content:''; width:60px; height:5px; position:absolute; left:50%; top:15px; margin-left:-30px; background:#f2f4f6; border-radius:4px; }

.footer--btn { width:100%; position:fixed; left:0; bottom:0; display:flex; z-index:8; }
.footer--btn.type--text { padding:10px 0; flex-direction:column; border-top:1px solid #f2f4f6; background:#fff; }
.footer--btn .btnText { width:100%; position:relative; padding:5px 18px; text-align:left; font-size:15px; color:rgba(0,0,0,.5); }
.footer--btn .btnText:after { content:''; width:7px; height:11px; position:absolute; right:15px; top:50%; margin-top:-5px; background:url('../images/common/iconArrowGray.png') no-repeat; background-size:8px auto; }
.footer--btn .btnText span { font-size:12px; }

.boxBtn { position:relative; }
.boxBtn.left { text-align:left; }
.boxBtn.right { text-align:right; }
.boxBtn.center { text-align:center; }
.boxBtn.btn--full { display:flex; }
.boxBtn.btn--full button { flex:1; }
.boxBtn.btn--join button { position:relative; }
.boxBtn.btn--join button+button:after { content:''; width:1px; height:90px; position:absolute; left:0; top:50%; margin-top:-45px; background:#f2f4f6; }

.textBasic { font-size:15px; color:#000; }
.textBasic+.textBasic { margin-top:5px; }
.textBasic strong { color:#2750f2; font-weight:500; }

textarea.textBasic { width:100%; height:150px; padding:15px; border:1px solid #d5d5d5; border-radius:5px; resize:none; font-family:inherit; }
textarea.textBasic::placeholder { color:#ccc; }
.boxTACount { padding-right:18px; margin-top:5px; text-align:right; font-size:15px; }

.pageTop { text-align:center; }
.pageTop .title { font-size:19px; font-weight:500; }
.pageTop .title strong { color:#2750f2; }
.pageTop .subject { margin-top:10px; font-size:15px; }

.btnBasic { width:100%; height:58px; background:#a1a4a7; text-align:center; color:#fff; font-size:17px; font-weight:500; }
.btnBasic.size--half { width:145px; height:50px; font-size:15px; font-weight:300; border-radius:5px; }
.btnBasic.size--half+.size--half { margin-left:12px; }
.btnBasic.size--auto { width:auto; height:50px; display:inline-block; padding:0 15px; font-weight:300; }
.btnBasic.active { background:#2750f2; }
.btnBasic.blueLine { background:#fff; border:1px solid #2750f2; border-radius:5px; color:#2750f2; }
.btnBasic.grayLine { background:#fff; border:1px solid #d5d5d5; border-radius:5px; color:#a1a4a7; }
.btnBasic.blackLine { background:#fff; border:1px solid #000; border-radius:5px; color:#000; }
.btnBasic.bgBlue { background:#2750f2 !important; border-radius:5px; color:#fff; }
.btnBasic.bgYellow { background:#ffdf31; color:#000; }
.btnBasic.bgLightGray { background:#f2f4f6; border:1px solid #d4d8db; color:#000; }
.btnBasic.bgWhite { background:#fff; border:1px solid #000; color:#000; }
.btnBasic.blueLine.iconCP { font-weight:700 }
.btnBasic.blueLine.iconCP i { width:11px; height:15px; margin-top:-2px; margin-right:5px; display:inline-block; background:url('../images/common/iconJoinBusinessBlue.png') no-repeat; background-size:100% auto; vertical-align:middle; }
.btnBasic.blueLine.iconUser { font-weight:700 }
.btnBasic.blueLine.iconUser i { width:11px; height:15px; margin-top:-2px; margin-right:5px; display:inline-block; background:url('../images/common/iconJoinUserBlue.png') no-repeat; background-size:100% auto; vertical-align:middle; }
.btnBasic.blueLine.icon--file { width:230px; height:50px; position:relative; font-size:15px; font-weight:300; }
.btnBasic.blueLine.icon--file:after { content:''; width:12px; height:15px; position:absolute; right:17px; top:17px; background:url('../images/common/iconDownBlue.png') no-repeat; background-size:100% auto; }
.btnBasic.noGray { border:0; background:none; font-size:14px; font-weight:300; color:#999; }
.btnBasic.small { width:auto; height:27px; padding:0 10px; background:#fff; border-radius:5px; border:1px solid #d5d5d5; line-height:25px; font-size:12px; color:#000; font-weight:300; vertical-align:middle; }

.btnJoinGeneral { height:90px; padding-top:55px; background:url('../images/common/iconJoinGeneral.png') center 20px no-repeat; background-size:19px auto; font-size:15px; }
.btnJoinBusiness { height:90px; padding-top:55px; background:url('../images/common/iconJoinBusiness.png') center 20px no-repeat; background-size:19px auto; font-size:15px; }

.btnBasic.icon--detail { background:#2750f2; border-radius:5px; color:#fff; }
.btnBasic.icon--detail:after { content:''; width:13px; height:15px; margin-left:6px; display:inline-block; background:url('../images/main/iconDetailPen.png') right center no-repeat; background-size:auto 100%; }

.btnDropbox { padding-right:16px; position:relative; font-family: 'SpoqaHanSansNeo', 'Sans-serif';
    letter-spacing: -0.05em; }
.btnDropbox:after { content:''; width:9px; height:6px; position:absolute; right:0; top:50%; margin-top:-3px; background:url('../images/common/iconArrowSort.png') right center no-repeat; background-size:100% auto; }
.btnDropbox.active:after { transform:rotate(180deg); }

.btnArrow { position:relative; padding-right:15px; font-size:15px; }
.btnArrow:after { content:''; width:11px; height:11px; position:absolute; right:0; top:50%; background:url('../images/common/iconArrow.png') right center no-repeat; background-size:auto 100%; transform:translateY(-50%); }

.btnRound { padding:5px 10px; font-size:15px; border:1px solid #d5d5d5; border-radius:30px; }
.btnRound+.btnRound { margin-left:10px; }

#footer { padding:50px 15px; position:relative; }
#footer:after { content:''; display:block; clear:both; visibility:visible; }
#footer h2 { width:120px; height:11px; margin-bottom:42px; float:left; background:url('../images/common/logo_f.png') no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }
#footer ul.privacy { float:right; }
#footer ul.privacy li { float:left; position:relative; }
#footer ul.privacy li+li:after { content:''; width:1px; height:12px; position:absolute; left:0; top:50%; margin-top:-6px; background:#999; }
#footer ul.privacy li a { display:block; padding:0 6px; color:#999; font-weight:300; }
#footer ul.privacy li:first-child a { padding-left:0; }
#footer ul.privacy li:last-child a { padding-right:0; }

#address { clear:both; font-style:normal; text-align:center; color:#999; font-weight:300; }


i.icon--clock { width:16px; height:16px; margin:-2px 2px 0 0; display:inline-block; background:url('../images/main/iconDayClock.png') no-repeat; background-size:100% auto; vertical-align:middle; }


/* Popup Layer */
#dim { width:100%; height:100%; display:none; position:fixed; left:0; top:0; background:rgba(0, 0, 0, 0.6); z-index:20; }

.bottomLayer { width:100%; max-height:68.75%; display:flex; flex-direction:column; padding:58px 0 110px; position:fixed; left:0; bottom:-100%; border-top-left-radius:20px; border-top-right-radius:20px; background:#fff; z-index:21; overflow:hidden; transition:bottom .5s; }
.bottomLayer.active { bottom:0; }
.bottomLayer .inner { overflow-y:auto; }
.bottomLayer .cont .title { margin-bottom:20px; font-size:17px; text-align:center; }
.bottomLayer .cont .title.icon--exmark { padding-top:35px; background:url('../images/common/iconExMark.png') top center no-repeat; background-size:20px auto; }
.bottomLayer .layerTop { margin-bottom:10px; }
.bottomLayer .layerTop:after { content:''; display:block; clear:both; }
.bottomLayer .layerTop .title { float:left; margin:0; font-size:17px; font-weight:500; }
.bottomLayer .layerTop .mark_status { width:48px; height:22px; margin:2px 0 0 10px; float:left; border:1px solid #5facdd; border-radius:11px; text-align:center; line-height:20px; font-size:10px; color:#5facdd; }
.bottomLayer .layerTop .mark_status.is--ing { border-color:#4fd884; color:#4fd884; }
.bottomLayer .layerTop .mark_status.is--cancel { border-color:#ff7474; color:#ff7474; }
.bottomLayer .footer--btn { position:absolute; }

.bottomLayer.type--basic { padding:0; }
.bottomLayer.type--basic .topArea { margin:17px 24px 0; padding:10px 0; position:relative; border-bottom:1px solid #f2f4f6; }
.bottomLayer.type--basic .topArea.no--border { margin:17px 24px 15px; border-bottom:0; }
.bottomLayer.type--basic .topArea .btnClose { width:32px; height:32px; position:absolute; left:-10px; top:50%; background:url('../images/common/iconCloseBlack.png') center center no-repeat; background-size:12px auto; font-size:0; text-indent:-99999px; transform:translateY(-50%); }
.bottomLayer.type--basic .topArea .btnSubmit { padding:10px; position:absolute; right:-10px; top:50%; transform:translateY(-50%); font-size:12px; }
.bottomLayer.type--basic .topArea .title { margin:0; font-size:15px; text-align:center; }
.bottomLayer.type--basic .topArea .title.info { font-size:17px; font-weight:500; }
.bottomLayer.type--basic .topArea .opt { position:absolute; right:0; top:12px; }
.bottomLayer.type--basic .topArea .opt a { text-decoration:underline; color:#999; }
.bottomLayer.type--basic .contArea { margin:25px 24px 50px; }
.bottomLayer.type--basic .content+h4.title { margin-top:25px; }

.bottomLayer.with--footer .inner { padding-bottom:80px; }

.fullLayer { width:100%; height:100%; display:none; position:fixed; left:0; top:0; background:#fff; z-index:21; }
.fullLayer .topArea { height:86px; position:absolute; left:15px; top:0; right:15px; line-height:86px; }
.fullLayer .topArea .btnClose { width:32px; height:32px; position:absolute; left:-10px; top:50%; background:url('../images/common/iconCloseBlack.png') center center no-repeat; background-size:16px auto; font-size:0; text-indent:-99999px; transform:translateY(-50%); }
.fullLayer .topArea .title { margin:0; font-size:15px; text-align:center; font-size:17px; font-weight:500; }
.fullLayer .inner { height:calc(100% - 86px); padding:0 15px; margin-top:86px; overflow:auto; }

.textLayer { display:none; padding:36px 25px 28px; position:absolute; left:30px; top:0; right:30px; background:#fff; border-radius:5px; border:1px solid #999; z-index:21; }
.textLayer.active { display:block; }
.textLayer .cont { line-height:1.5 }
.textLayer .cont span { color:#999; }
.textLayer .btnClose { width:39px; height:39px; position:absolute; right:0; top:0; background:url('../images/common/iconClose.png') center center no-repeat; background-size:9px auto; font-size:0; text-indent:-99999px; }

.boxCertifySix { text-align:center; }
.boxCertifySix .input { margin-bottom:10px; }
.boxCertifySix .input input[type="number"] { width:40px; height:58px; margin-left:6px; border:1px solid #d5d5d5; border-radius:5px; text-align:center; font-size:25px; font-weight:500; font-family:"SFProDisplay", 'Sans-serif'; }
.boxCertifySix .input input[type="number"]:first-child { margin-left:0; }
.boxCertifySix .limit { margin-bottom:40px; color:#999; }
.boxCertifySix .limit.danger { color:#ff6363; }
.boxCertifySix .retry { color:#2750f2; font-size:17px; }

.boxCheckBlue { position:relative; }
.boxCheckBlue:after { content:''; display:block; clear:both; visibility:visible; }
.boxCheckBlue input { position:absolute; left:-99999px; top:0; opacity:0; }
.boxCheckBlue label { padding-left:26px; float:left; background:url('../images/common/iconCheckBlue.png') left center no-repeat; background-size:21px auto; font-size:15px; line-height:20px; }
.boxCheckBlue input:checked + label { background-image:url('../images/common/iconCheckBlue_on.png'); }

.basicPopup { padding:30px 20px; position:fixed; left:23px; right:23px; top:50%; display:none; border-radius:10px; background:#fff; transform:translateY(-50%); z-index:25; overflow:hidden; }
.basicPopup.active { display:block; }
.basicPopup .cont { text-align:center; font-size:17px; font-weight:500; }
.basicPopup .cont.icon--complete { margin-bottom:30px; padding-top:82px; background:url('../images/common/iconExMarkBlack.png') center 10px no-repeat; background-size:36px; }
.basicPopup .cont .subject { margin-top:8px; font-weight:300; font-size:15px; }
.basicPopup .boxBtn button:first-child { margin-right:4px; }
.basicPopup .boxBtn button:last-child { margin-left:4px; }
.basicPopup .box { margin-top:20px; font-weight:300; }

.basicPopup.popEvent { width:90%; max-height:100%; max-width:300px; left:50%; right:auto; padding:0; transform:translate(-50%, -50%); overflow:auto; }
.basicPopup.popEvent .cont img { width:100%; }
.basicPopup.popEvent .footer { height:60px; padding:0 20px; line-height:60px; }
.basicPopup.popEvent .footer .boxCheckBlue { padding:20px 0; float:left; margin-bottom:0; }
.basicPopup.popEvent .footer .boxCheckBlue label { padding-left:26px; background-size:20px auto; line-height:20px; font-size:14px; }
.basicPopup.popEvent .footer .close { float:right; padding:20px 10px; font-size:14px; color:#7700ff; }

/* Tab */
.tabBasic { margin-top:10px; display:flex; }
.tabBasic button { height:40px; flex:1; background:#f2f4f6; border-left:1px solid #d5d5d5; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; font-family:"SFProDisplay", 'Sans-serif'; color:#999; font-size:13px; }
.tabBasic button:first-child { border-top-left-radius:5px; border-bottom-left-radius:5px; }
.tabBasic button:last-child { border-right:1px solid #d5d5d5; border-top-right-radius:5px; border-bottom-right-radius:5px; }
.tabBasic button.active { background:#fff; border-color:#2750f2; color:#2750f2; font-weight:500; }
.tabBasic button.active+button { border-left-color: #2750f2; }

.tabText { margin-bottom:5px; display:flex; }
.tabText button { height:42px; flex:1; border-bottom:1px solid #f2f4f6; font-size:15px; text-align:center; }
.tabText button.active { border-bottom:1px solid #2750f2; color:#2750f2; font-weight:500; }


/* Date */
.dateBasic { height:40px; position:relative; display:flex; border:1px solid #d5d5d5; border-radius:5px; }
.dateBasic:after { content:''; width:6px; height:1px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); background:#000; }
.dateBasic.type--single:after { display:none; }
.dateBasic .datepicker { width:100%; flex:1; display:flex; align-items:center; justify-content:center; background:url('../images/common/iconDatepicker.png') 15px center no-repeat; background-size:14px auto; font-size:13px; border:0; text-align:center; }
.dateBasic.type--single .datepicker { padding:0 15px; background-position:calc(100% - 14px) center; font-size:15px; }
.dateBasic a { flex:1; display:flex; align-items:center; justify-content:center; font-size:13px; }
.dateBasic a:before { content:''; width:14px; height:15px; margin-right:12px; display:inline-block; background:url('../images/common/iconDatepicker.png') center center no-repeat; background-size:100% auto; }


/* Account Popup */
.popAccount { padding:33px 0 0; }
.popAccount .section { padding:40px 15px; }
.popAccount .detail { height:88px; margin-bottom:30px; display:flex; align-items:center; justify-content:center; flex-direction:column; background:#f2f4f6; border-radius:5px; }
.popAccount .detail .usePrice { font-size:19px; font-weight:500; font-family:"SFProDisplay", 'Sans-serif'; }
.popAccount .detail .price { font-size:15px; color:#999; }
.popAccount .detail.type--trade { flex-direction:row; }
.popAccount .detail.type--trade .price { flex:1; text-align:center; font-size:17px; font-family:"SFProDisplay", 'Sans-serif'; font-weight:500; color:#000; }
.popAccount .detail.type--trade .price.price--after { color:#2750f2; }
.popAccount .detail.type--trade .betweenTrade { width:26px; height:88px; background:url('../images/common/iconDigitalTrade.png') center center no-repeat; background-size:26px auto; }

.listDetail li { overflow:hidden; }
.listDetail li+li { margin-top:10px; }
.listDetail li .title { width:30%; float:left; margin:0; font-size:15px; }
.listDetail li .cont { width:70%; float:right; color:#999; font-size:15px; font-family:"SFProDisplay", 'Sans-serif'; text-align:right; }
.listDetail li .cont.bedge { display:table; }
.listDetail li .cont.bedge > div { display:table-cell; word-break:break-all; font-size:12px; }
.listDetail li .cont.bedge > div.boxBedge { padding-right:10px; }
.listDetail li .cont.bedge > div.boxBedge span { height:22px; padding:0 14px; display:block; line-height:22px; background:rgba(255, 184, 49, 0.34); color:#ff8900; border-radius:5px; font-size:12px; font-weight:500; white-space:nowrap; text-align:center; }

.listDetail li .cont.deposit { position:relative; }
.listDetail li .cont.deposit > div { margin-right:66px; text-align:left; word-break:break-all; font-size:12px; color:#999; line-height:22px; }
.listDetail li .cont.deposit > button { width:56px; height:22px; position:absolute; right:0; top:0; line-height:22px; border-radius:5px; background:rgba(162, 208, 255, 0.34); font-size:12px; color:#2750f2; font-weight:500; }

.listDetail li .cont.address span { display:inline-block; padding:8px 10px; border-radius:5px; background:rgba(255, 165, 165, 0.17); font-size:12px; color:#ff6363; }
.listDetail li .price { float:right; margin:-4px 0 4px; color:#29c1cf; font-size:20px; font-family:"SFProDisplay", 'Sans-serif'; font-weight:500; }
.listDetail li .percent { float:right; color:#29c1cf; font-size:16px; font-family:"SFProDisplay", 'Sans-serif'; font-weight:500; }
.listDetail li .reward { float:right; color:#000; font-size:16px; font-family:"SFProDisplay", 'Sans-serif'; }

.listDetail.type--gray li {  }
.listDetail.type--gray li .title { width:110px; float:left; color:#999; }
.listDetail.type--gray li .cont { margin-left:115px; float:none; color:#000; text-align:left; }

.listDetail li.imp .title { color:#ff6363; }

.listTable dt { display:block; margin-bottom:5px; font-size:15px; }
.listTable dd { display:block; margin-bottom:20px; font-family:"SFProDisplay", 'Sans-serif'; font-size:15px; color:#999; word-break:break-all; }

.underLink { color:#999; text-decoration:underline; }

/* Row */
.row { position:relative; }
.row+.row { margin-top:3px; }
.row.division { padding-right:93px; }
.row.division:after { content:''; display:block; clear:both; visibility:visible; }
.row.division.age { padding-right:115px; }
.row.division .select.number { width:85px; float:left; }
.row.division .select.number select { font-size:17px; }
.row.division .select.number+div { margin-left:88px; }
.row.division .select.number+div .inputBasic { font-family:"SFProDisplay", 'Sans-serif'; font-size:17px; font-weight:500; }
.row.division .select.gender { width:110px; position:absolute; right:0; top:0; }
.row.division .btnBasic { width:90px; height:50px; position:absolute; right:0; top:0; font-weight:300; }
.row.division_half { display:flex; }
.row.division_half > div { flex: 1; }
.row.division_half > div+div { margin-left:5px; }


/* Input */
.inputBasic { width:100%; height:50px; padding:0 15px; position:relative; background:#fff; border:1px solid #d5d5d5; border-radius:5px; color:#000; font-size:15px; z-index:1; }
.inputBasic::placeholder { color:#ccc; }
input[type="password"].inputBasic { padding-right:50px; }
.inputPassword { position:relative; }
input[type="text"].danger,
input[type="password"].danger,
input[type="number"].danger { border-color:#ff6363; }
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled { border:1px solid #d5d5d5; background:#f2f4f6; color:rgba(0,0,0,.2) }
.btnHiddenPass { width:50px; height:50px; position:absolute; right:0; top:0; background:url('../images/common/iconPassword.png') center center no-repeat; background-size:20px auto; z-index:5; }
.inputGold { position:relative; }
.inputGold input { padding:0 108px 0 20px; z-index:1; font-size:15px; font-weight:500; font-family:"SFProDisplay", 'Sans-serif'; }
.inputGold input::placeholder { color:#d5d5d5; }
.inputGold span { height:50px; position:absolute; right:20px; top:0; font-size:15px; z-index:2; line-height:50px; }
.inputUnit { position:relative; }
.inputUnit input { padding:0 20px 0 90px; z-index:1; }
.inputUnit.value--max input { padding-right:50px; }
.inputUnit > span { width:70px; height:50px; position:absolute; left:0; top:0; font-family:"SFProDisplay", 'Sans-serif'; text-align:center; line-height:50px; z-index:2; }
.inputUnit > span:after { content:''; width:1px; height:18px; position:absolute; right:0; top:50%; margin-top:-9px; background:#d5d5d5; }
.inputUnit > span .btnInfo { width:14px; height:14px; margin-top:-4px; margin-left:5px; display:inline-block; background:url('../images/common/iconMarkSmallGray.png') no-repeat; background-size:14px auto; font-size:0; text-indent:-99999px; vertical-align:middle; }
.inputUnit .max { height:50px; display:none; position:absolute; right:20px; top:0; z-index:2; line-height:50px; color:#2750f2; font-size:12px; }
.inputUnit.value--max .max { display:block; }
.inputUnit.icon--trade { margin-top:34px; }
.inputUnit.icon--trade:after { content:''; width:19px; height:15px; position:absolute; left:50%; top:-25px; margin-left:-9px; background:url('../images/common/iconTrade.png') no-repeat; background-size:100% auto; }
.inputUnit.type--select .tokenSelect { width:115px; height:50px; padding:0 30px; margin:0; position:absolute; left:0; top:0; background:url('../images/common/iconArrowSort.png') 87px center no-repeat; background-size:9px auto; z-index:2; line-height:48px; text-align:center; }
.inputUnit.type--select .tokenSelect:after { content:''; width:1px; height:18px; position:absolute; right:0; top:50%; margin-top:-9px; background:#d5d5d5; }
.inputUnit.type--select .tokenSelect.icon--btc:before { content:''; width:11px; height:14px; position:absolute; left:18px; top:50%; margin-top:-7px; background:url('../images/common/iconSelectSmall-BTC.png') no-repeat; background-size:100% auto; }
.inputUnit.type--select .tokenSelect label { font-size:15px; }
.inputUnit.type--select select { width:115px; height:50px; position:absolute; left:0; top:0; opacity:0; z-index:5; }
.inputUnit.type--select input { padding:0 18px 0 120px; text-align:right; }
.inputUnit.type--blue input { padding:0 20px 0 120px; text-align:right; color:#2750f2; }
.inputUnit.type--blue > span { width:115px; padding-left:25px; text-align:center; color:#2750f2; font-size:15px; }
.inputUnit.type--blue.icon--arw > span { background:url('../images/common/iconDigital-ARW.png') 16px center no-repeat; background-size:17px auto; }
.inputUnit.type--blue .textLayer { top:10px; left:15px; right:15px; }
.inputUnit.type--limit {  }
.inputUnit.type--limit input { padding:0 70px 0 20px; }
.inputUnit.type--limit input:disabled { color:#000; }
.inputUnit.type--limit > span { width:auto; padding:0 20px 0 0; left:auto; right:0; font-size:15px; }
.inputUnit.type--limit > span:after { display:none; }
.inputUnit.type--voucher {  }
.inputUnit.type--voucher input { padding:0 20px 0 180px; text-align:right; font-weight:500; font-family:"SFProDisplay", 'Sans-serif'; }
.inputUnit.type--voucher input:disabled { color:#000; background:#f8f9fa; }
.inputUnit.type--voucher > span { width:170px; padding:0; text-align:center; font-size:15px; }

.inputAddress { position:relative; }
.inputAddress input { padding-right:60px; position:relative; z-index:1; }
.inputAddress .btnQRcode { width:50px; height:50px; position:absolute; right:0; top:0; background:url('../images/common/iconQRcode.png') center center no-repeat; background-size:20px auto; font-size:0; text-indent:-99999px; z-index:2; }
.inputAddress.active input { padding-right:20px; }
.inputAddress.active .btnQRcode { display:none; }
.inputCalendar { position:relative; }
.inputCalendar input { padding-right:50px; font-size:17px; }
.inputCalendar .btnCalendar { width:44px; height:50px; position:absolute; right:0; top:0; background:url('../images/common/iconDatepicker.png') center center no-repeat; background-size:14px auto; font-size:0; text-indent:-99999px; z-index:3; }
.inputVoucher { position:relative; }
.inputVoucher .inputBasic { padding-left:130px; position:relative; text-align:right; z-index:1; }
.inputVoucher span { height:50px; padding-left:18px; position:absolute; left:25px; top:0; background:url('../images/common/iconAsset-HGX.png') left center no-repeat; background-size:17px auto; z-index:5; line-height:50px; font-size:15px; letter-spacing:-0.07em; }


/* Input Checkbox */
.inputCheckbox { margin-bottom:15px; overflow:hidden; }
.inputCheckbox input { position:absolute; lefT:-99999px; top:0; opacity:0; }
.inputCheckbox label { float:left; margin-left:15px; padding-left:38px; background:url('../images/common/iconCheckBasic.png') left center no-repeat; background-size:30px auto; line-height:30px; font-size:15px; }
.inputCheckbox input:checked+label { background-image:url('../images/common/iconCheckBasic_on.png'); }
.inputCheckbox label:first-of-type { margin-left:0; }

.boxCheckTab { margin-bottom:30px; }
.boxCheckTab .cont { display:none; }
.boxCheckTab .cont.active { display:block; }
.boxCheckTab .cont .address { min-height:50px; display:flex; align-items:center; font-size:15px; word-break:keep-all; }
.boxCheckTab .cont .btnBasic { font-size:15px; }


/* Select */
.select { position:relative; }
.select:after { content:''; width:11px; height:6px; position:absolute; right:13px; top:50%; margin-top:-3px; background:url('../images/common/iconSelect.png') center center no-repeat; background-size:100% auto; }
.select select { width:100%; height:50px; position:relative; padding:0 15px; border:1px solid #d5d5d5; border-radius:5px; background:transparent; font-size:15px; z-index:3; }
.select select option { padding:0 15px; }

.tokenSelect { height:24px; position:relative; display:inline-block; margin:0 auto 20px; line-height:24px; vertical-align:middle; }
.tokenSelect:after { content:''; width:24px; height:24px; position:absolute; right:0; top:1px; background:url('../images/common/iconSelectRound.png') right center no-repeat; background-size:24px auto; z-index:1; }
.tokenSelect select { height:24px; padding:0 26px 0 0; border:0; background:transparent; font-weight:500; font-size:17px; z-index:2; text-align-last:center; }
.tokenSelect.type--white { width:92px; position:relative; background:url('../images/common/iconSelectRoundWhite.png') right center no-repeat; background-size:24px auto; }
.tokenSelect.type--white:after { display:none; }
.tokenSelect.type--white label { width:92px; height:24px; padding:0 24px 0 22px; position:absolute; left:0; top:0; background-repeat:no-repeat; background-size:19px auto; background-position:left center; color:#fff; font-size:17px; }
.tokenSelect.icon--arw label { background-image:url('../images/common/iconSelect-ARW.png'); }
.tokenSelect.type--white select { width:92px; opacity:0; }
h1 .tokenSelect { margin:0 auto; }

.btnSelect { width:100%; height:50px; position:relative; padding:0 17px; border:1px solid #d5d5d5; border-radius:5px; text-align:left; }
.btnSelect:after { content:''; width:11px; height:6px; position:absolute; right:13px; top:50%; margin-top:-3px; background:url('../images/common/iconSelect.png') center center no-repeat; background-size:100% auto; }

/* Guide Text */
.guide-text { display:block; margin-top:4px; color:#999; word-break:keep-all; font-weight:300; }
.guide-text.danger { color:#f22727; }
.guide-text.type--dot { padding:0 13px 0 6px; position:relative; }
.guide-text.type--dot:before { content:'·'; position:absolute; left:0; top:0; }
.guide-text.type--dot+.guide-text { margin-top:10px; }
.guide-text.type--line { padding:0 0 0 10px; position:relative; font-size:15px; color:#000; letter-spacing:-.075em; }
.guide-text.type--line:before { content:'-'; position:absolute; left:0; top:0; }
.guide-text.type--line+.guide-text { margin-top:5px; }
.guide-text.boxGray { padding:8px; background:#f2f4f6; text-align:center; border-radius:5px; }
.guide-text.bigDanger { padding:16px; color:#f22727; font-size:15px; font-weight:300; }
.guide-text ul li { padding-left:10px; position:relative; text-align:left; }
.guide-text ul li:after { content:'·'; position:absolute; left:2px; top:0; }
.guide-text ul li+li { margin-top:2px; }

.clear { clear:both; }