@charset "utf-8";

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 100;
    src: local('SpoqaHanSansNeo-Thin'),
    url('../font/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 300;
    src: local('SpoqaHanSansNeo-Light'),
    url('../font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 400;
    src: local('SpoqaHanSansNeo-Regular'),
    url('../font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 500;
    src: local('SpoqaHanSansNeo-Medium'),
    url('../font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 700;
    src: local('SpoqaHanSansNeo-Bold'),
    url('../font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SFProDisplay';
    font-weight: 300;
    src: local('SF-Pro-Display-Light'),
    url('../font/SF-Pro-Display-Light.woff2') format('woff2'),
    url('../font/SF-Pro-Display-Light.woff') format('woff'),
    url('../font/SF-Pro-Display-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SFProDisplay';
    font-weight: 400;
    src: local('SF-Pro-Display-Regular'),
    url('../font/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('../font/SF-Pro-Display-Regular.woff') format('woff'),
    url('../font/SF-Pro-Display-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SFProDisplay';
    font-weight: 500;
    src: local('SF-Pro-Display-Medium'),
    url('../font/SF-Pro-Display-Medium.woff2') format('woff2'),
    url('../font/SF-Pro-Display-Medium.woff') format('woff'),
    url('../font/SF-Pro-Display-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'SFProDisplay';
    font-weight: 600;
    src: local('SF-Pro-Display-Semibold'),
    url('../font/SF-Pro-Display-Semibold.woff2') format('woff2'),
    url('../font/SF-Pro-Display-Semibold.woff') format('woff'),
    url('../font/SF-Pro-Display-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'SFProDisplay';
    font-weight: 700;
    src: local('SF-Pro-Display-Bold'),
    url('../font/SF-Pro-Display-Bold.woff2') format('woff2'),
    url('../font/SF-Pro-Display-Bold.woff') format('woff'),
    url('../font/SF-Pro-Display-Bold.ttf') format('truetype');
}

/* common */
* {margin:0; padding:0; box-sizing: border-box; list-style:none; text-decoration:none;
    outline: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: transparent; }
html, body { width: 100%; position: relative; font-size:12px; font-family: 'SpoqaHanSansNeo', 'Sans-serif'; letter-spacing: -0.05em; line-height:1.4; font-weight:400; color:#000; }
ul>li>a { text-decoration:none; }
a {color: inherit;}
table { border-collapse: collapse; }
.blind {position:absolute !important;visibility:hidden !important;top:0 !important;left:0 !important;height:0 !important;width:0 !important;font-size:0 !important;line-height:0 !important;overflow:hidden !important;}
fieldset {border:none;}
legend {display:none;}
caption {display:none;}
p, strong, span {letter-spacing: -0.05em;}
i {display: inline-block;}
em {font-style: normal; letter-spacing: -1px;}
input {box-sizing: border-box; border: 1px solid #ddd; background-color: #fff; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family:inherit; }
input[type=text]::-ms-clear {display:none;}
button {box-sizing: border-box; border: 0; background-color: transparent; cursor: pointer; color:inherit; font-family:inherit;}
textarea {box-sizing: border-box; resize: none;}
select {-webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; box-sizing: border-box; cursor: pointer;}
select::-ms-expand {display: none;}
img { max-width:100%; }
hr { border:0; }

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }


/* Text Align */
.ta-l { text-align:left !important; }
.ta-c { text-align:center !important; }
.ta-r { text-align:right !important; }


/* Padding */
.pt0 { padding-top:0 !important; }
.pt10 { padding-top:10px !important; }
.pt20 { padding-top:20px !important; }
.pt30 { padding-top:30px !important; }
.pt40 { padding-top:40px !important; }
.pt50 { padding-top:50px !important; }
.pb0 { padding-bottom:0 !important; }
.pb10 { padding-bottom:10px !important; }
.pb20 { padding-bottom:20px !important; }
.pb30 { padding-bottom:30px !important; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px !important; }


/* Margin */
.mtb10 { margin:10px 0 !important; }
.mtb15 { margin:15px 0 !important; }
.mtb20 { margin:20px 0 !important; }
.mtb25 { margin:25px 0 !important; }
.mtb30 { margin:30px 0 !important; }
.mtb40 { margin:40px 0 !important; }
.mtb50 { margin:50px 0 !important; }

.mb0 { margin-bottom:0px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb30 { margin-bottom:30px !important; }
.mb35 { margin-bottom:35px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb60 { margin-bottom:60px !important; }

.mt0 { margin-top:0px !important; }
.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }


hr.section--space { height:8px; background:#f2f4f6; }

span.en { font-family:"SFProDisplay", 'Sans-serif'; }

/* LAYOUT */
#header { padding:5px 15px 6px; position:relative; background:#fff; }
#header h1 { width:104px; height:36px; background:url('../images/common/logo.png') no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }
#header .btnMypage { width:38px; height:36px; position:absolute; right:15px; top:5px; background:url('../images/common/btmMypage.png') center center no-repeat; background-size:18px auto; font-size:0; text-indent:-99999px; }

#container {  }
#container.main { padding:0 0 8px; background:#f2f4f6; }
#container.sub { padding:0 0 100px; }
#container.wallet { padding:0; background:#2750f2; }
#container.wallet h1 { color:#fff; }
#container.account { padding:0 8px; }

.box { position:relative; }
.box.bgGray { padding:22px 20px; border-radius:5px; background:#f2f4f6; border-radius:5px; }

.section { padding:55px 0; margin-bottom:8px; background:#fff; }
.section:last-child { margin-bottom:0; }

.radius10 { border-radius:10px; }
.radius20 { border-radius:20px; }

.color-blue { color:#2750f2; }

.bgRed { background:#f00; }
.bgBlue { background:#00f; }
.bgYellow { background:#ff0; }

.top--btn { width:100%; position:absolute; left:0; top:0; }
.top--btn button { width:100%; height:35px; position:absolute; left:0; top:0; font-size:0; text-indent:-99999px; }
.top--btn button:after { content:''; width:60px; height:5px; position:absolute; left:50%; top:15px; margin-left:-30px; background:#f2f4f6; border-radius:4px; }

.footer--btn { width:100%; position:fixed; left:0; bottom:0; display:flex; z-index:8; }
.footer--btn .btnText { width:100%; position:relative; padding:15px 18px; margin-bottom:10px; border-top:1px solid #f2f4f6; text-align:left; font-size:15px; color:rgba(0,0,0,.5); }
.footer--btn .btnText:after { content:''; width:7px; height:11px; position:absolute; right:15px; top:50%; margin-top:-5px; background:url('../images/common/iconArrowGray.png') no-repeat; background-size:8px auto; }

.boxBtn { position:relative; }
.boxBtn.left { text-align:left; }
.boxBtn.right { text-align:right; }
.boxBtn.center { text-align:center; }
.boxBtn.btn--full { display:flex; }

.textBasic { font-size:15px; color:#000; }
.textBasic+.textBasic { margin-top:5px; }
.textBasic strong { color:#2750f2; font-weight:700; }

.btnBasic { width:100%; height:58px; background:#a1a4a7; text-align:center; color:#fff; font-size:17px; font-weight:700; }
.btnBasic.size--half { width:145px; height:50px; font-size:15px; font-weight:400; border-radius:5px; }
.btnBasic.size--half+.size--half { margin-left:12px; }
.btnBasic.active { background:#2750f2; }
.btnBasic.blueLine { background:#fff; border:1px solid #2750f2; border-radius:5px; color:#2750f2; }
.btnBasic.bgBlue { background:#2750f2; border-radius:5px; color:#fff; }
.btnBasic.bgYellow { background:#ffdf31; color:#000; }
.btnBasic.bgLightGray { background:#f2f4f6; border:1px solid #d4d8db; color:#000; }
.btnBasic.bgWhite { background:#fff; border:1px solid #000; color:#000; }
.btnBasic.blueLine.iconCP { font-weight:700 }
.btnBasic.blueLine.iconCP i { width:14px; height:20px; margin-right:3px; display:inline-block; background:#2750f2; vertical-align:middle; }

.btnBasic.icon--detail { background:#2750f2; border-radius:5px; color:#fff; }
.btnBasic.icon--detail:after { content:''; width:13px; height:15px; margin-left:6px; display:inline-block; background:url('../images/main/iconDetailPen.png') right center no-repeat; background-size:auto 100%; }

.btnDropbox { padding-right:16px; position:relative; font-family: 'SpoqaHanSansNeo', 'Sans-serif';
    letter-spacing: -0.05em; }
.btnDropbox:after { content:''; width:9px; height:6px; position:absolute; right:0; top:50%; margin-top:-3px; background:url('../images/common/iconArrowSort.png') right center no-repeat; background-size:100% auto; }
.btnDropbox.active:after { transform:rotate(180deg); }

#footer { padding:22px 15px; position:relative; }
#footer:after { content:''; display:block; clear:both; visibility:visible; }
#footer h2 { width:84px; height:42px; margin-bottom:26px; float:left; background:url('../images/common/logo_f.png') no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }
#footer ul.privacy { float:right; }
#footer ul.privacy li { float:left; position:relative; }
#footer ul.privacy li+li:after { content:''; width:1px; height:12px; position:absolute; left:0; top:50%; margin-top:-6px; background:#999; }
#footer ul.privacy li a { display:block; padding:0 6px; color:#999; font-weight:300; }
#footer ul.privacy li:first-child a { padding-left:0; }
#footer ul.privacy li:last-child a { padding-right:0; }

#address { clear:both; font-style:normal; text-align:center; color:#999; font-weight:300; }


i.icon--clock { width:16px; height:16px; margin:-2px 2px 0 0; display:inline-block; background:url('../images/main/iconDayClock.png') no-repeat; background-size:100% auto; vertical-align:middle; }


/* Popup Layer */
#dim { width:100%; height:100%; display:none; position:fixed; left:0; top:0; background:rgba(0, 0, 0, 0.6); z-index:20; }

.bottomLayer { width:100%; max-height:68.75%; display:flex; flex-direction:column; padding:58px 0 110px; position:fixed; left:0; bottom:-100%; border-top-left-radius:20px; border-top-right-radius:20px; background:#fff; z-index:21; overflow:hidden; transition:bottom .5s; }
.bottomLayer.active { bottom:0; }
.bottomLayer .inner { overflow-y:auto; }
.bottomLayer .cont .title { margin-bottom:20px; font-size:17px; text-align:center; }
.bottomLayer .cont .title.icon--exmark { padding-top:35px; background:url('../images/common/iconExMark.png') top center no-repeat; background-size:20px auto; }
.bottomLayer .layerTop { margin-bottom:10px; }
.bottomLayer .layerTop:after { content:''; display:block; clear:both; }
.bottomLayer .layerTop .title { float:left; margin:0; font-size:17px; font-weight:700; }
.bottomLayer .layerTop .mark_status { width:48px; height:22px; margin:2px 0 0 10px; float:left; border:1px solid #5facdd; border-radius:11px; text-align:center; line-height:20px; font-size:10px; color:#5facdd; }
.bottomLayer .footer--btn { position:absolute; }

.bottomLayer.type--basic { padding:0; }
.bottomLayer.type--basic .topArea { margin:17px 24px 0; padding:10px 0; position:relative; border-bottom:1px solid #f2f4f6; }
.bottomLayer.type--basic .topArea .btnClose { width:32px; height:32px; position:absolute; left:-10px; top:50%; background:url('../images/common/iconCloseBlack.png') center center no-repeat; background-size:12px auto; font-size:0; text-indent:-99999px; transform:translateY(-50%); }
.bottomLayer.type--basic .topArea .btnSubmit { padding:10px; position:absolute; right:-10px; top:50%; transform:translateY(-50%); font-size:12px; }
.bottomLayer.type--basic .topArea .title { margin:0; font-size:15px; text-align:center; }
.bottomLayer.type--basic .contArea { margin:25px 24px 50px; }
.bottomLayer.type--basic .content+h4.title { margin-top:25px; }

.textLayer { display:none; padding:36px 25px 28px; position:absolute; left:30px; top:0; right:30px; background:#fff; border-radius:5px; border:1px solid #999; }
.textLayer.active { display:block; }
.textLayer .cont { line-height:1.5 }
.textLayer .cont span { color:#999; }
.textLayer .btnClose { width:39px; height:39px; position:absolute; right:0; top:0; background:url('../images/common/iconClose.png') center center no-repeat; background-size:9px auto; font-size:0; text-indent:-99999px; }

.boxCertifySix { text-align:center; }
.boxCertifySix .input { margin-bottom:10px; }
.boxCertifySix .input input[type="number"] { width:40px; height:58px; margin-left:6px; border:1px solid #d5d5d5; border-radius:5px; text-align:center; font-size:25px; font-weight:700; font-family:"SFProDisplay", 'Sans-serif'; }
.boxCertifySix .input input[type="number"]:first-child { margin-left:0; }
.boxCertifySix .limit { margin-bottom:40px; color:#999; }
.boxCertifySix .retry { color:#2750f2; font-size:17px; }