.mainTop { padding:20px 0 0; background:#fff; }

h3.title { margin-bottom:16px; padding:0 15px; font-size:17px; color:#000; font-weight:700; }

.section { margin:0; }

/* Assets */
.boxAssets { padding-bottom:66px; overflow:hidden; }
.boxAssets .box { height:300px; position:relative; margin:0 15px; padding:27px 17px 72px; border-radius:20px; background:#2750f2; color:#fff; box-shadow: 0 7px 5px 0 rgba(0, 37, 181, 0.2); }
.boxAssets .top { margin-bottom:50px; position:relative; overflow:hidden; }
.boxAssets .title { height:26px; float:left; font-size:15px; line-height:26px; color:#fff; }
.boxAssets .top.single { margin:15px 0 25px; }
.boxAssets .top.single .title { float:none; text-align:center; font-size:17px; }
.boxAssets .title span { color:#ffdf31; }
.boxAssets .trade { width:80px; height:26px; float:right; border:1px solid #fff; border-radius:13px; text-align:center; line-height:26px; font-size:12px; }
.boxAssets .trade i { width:11px; margin-right:2px; display:inline-block; vertical-align:middle; }
.boxAssets .box .opt { position:absolute; right:0; top:5px; color:#fff; }
.boxAssets .price { font-size:30px; font-weight:700; text-align:center; }
.boxAssets .price span.unit { font-weight:500; font-size:15px; }
.boxAssets .price span.unit2 { font-size:22px; }
.boxAssets .price span.icon { margin:0 5px; padding-left:10px; background-size:7px auto; background-repeat:no-repeat; background-position:left center; font-size:11px; font-family:"SFProDisplay", 'Sans-serif'; }
.boxAssets .price span.icon.up { background-image:url('../images/common/iconRateArrow.png'); color:#ff7474; }
.boxAssets .bottomPrice { margin-bottom:30px; font-size:15px; text-align:center; color:rgba(255,255,255,0.6); }
.boxAssets .bottomPrice i.icon { width:7px; height:6px; margin:0 3px 0 5px; display:inline-block; background:url('../images/main/iconDayArrow.png') no-repeat; background-size:100% auto; vertical-align:middle; }
.boxAssets .bottomPrice i.icon.down { transform:rotate(180deg); }
.boxAssets .bottomPrice span.small { font-size:11px; }
.boxAssets .guide { margin-bottom:12px; font-size:14px; color:#ffdf31; text-align:center; letter-spacing:-.07em; }
.boxAssets .btn { position:absolute; left:17px; right:17px; bottom:21px; display:flex; overflow:hidden; border:1px solid #153edd; border-radius:10px; background:#fff; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
.boxAssets .btn button { height:50px; position:relative; flex:1; font-size:15px; color:#000; }
.boxAssets .btn button+button:after { content:''; width:1px; height:20px; position:absolute; left:0; top:50%; transform:translateY(-50%); background:#2750f2; }

.boxAssets .box.type--detail { color:#000; box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.33); background:#5739ff; }
.boxAssets .box.type--detail .top { margin-bottom:47px; }
.boxAssets .box.type--detail .subject { text-align:center; font-size:19px ; }
.boxAssets .box.type--detail .price { margin:0; font-family:"SFProDisplay", 'Sans-serif'; line-height:36px; }
.boxAssets .box.type--detail .price_won { font-size:17px; text-align:center; font-weight:500; line-height:20px; }
.boxAssets .box.type--detail .usePrice { margin-bottom:15px; text-align:center; color:#847000; font-size:16px; font-weight:500; }
.boxAssets .box.type--detail .guidePrice { text-align:center; color:rgba(132,112,0,.5); }
.boxAssets .box.type--detail .btn { border-color:#072c84; }
.boxAssets .box.type--detail .btn button:hover { color:#5739ff; }
.boxAssets .box.type--detail .btn button+button:after { background:#5739ff; }

.boxAssets .boxVoucher { min-height:100px; padding:10px 0 0 140px; background:url('../images/main/imgVoucher.png') left top no-repeat; background-size:131px auto; text-align:right; font-family:"SFProDisplay", 'Sans-serif'; }
.boxAssets .boxVoucher .priceGold { font-size:36px; font-weight:700; letter-spacing:-0.07em; color:#fff; }
.boxAssets .boxVoucher .priceGold span { font-size:20px; }
.boxAssets .boxVoucher .priceWon { font-size:15px; color:rgba(255,255,255,0.5); }

.boxAssets .swiper-container { overflow:visible; }
.boxAssets .swiper-slide { width:92%; }
.boxAssets .swiper-slide .box { margin:0; }
.boxAssets .swiper-pagination-bullet { width:6px; height:6px; background:#e1e1e1; opacity:1; }
.boxAssets .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin:0 2px; }
.boxAssets .swiper-pagination-bullet-active { background:#2750f2; }
.boxAssets .swiper-container-horizontal>.swiper-pagination-bullets,
.boxAssets .swiper-pagination-custom,
.boxAssets .swiper-pagination-fraction { bottom:-38px; }

/* Quick */
.boxQuick { margin:0 15px; }
.boxQuick ul:after { content:''; display:block; clear:both; }
.boxQuick ul li { width:50%; float:left; }
.boxQuick ul li:nth-child(2n+1) { padding-right:4px; }
.boxQuick ul li:nth-child(2n+2) { padding-left:5px; }
.boxQuick ul li:nth-child(3), .boxQuick ul li:nth-child(4) { margin-top:10px; }
.boxQuick a { height:66px; position:relative; display:block; padding:0 20px; border-radius:10px; border:1px solid #e5e8f8; background:#fff; box-shadow: 0 3px 3px 0 rgba(173, 173, 173, 0.16); line-height:66px; text-align:center; overflow:hidden; }
.boxQuick a+a { margin-top:8px; }
.boxQuick a .title { position:relative; padding-left:30px; font-size:15px; color:#000; font-weight:500; }
.boxQuick a .title i { width:22px; position:absolute; left:0; top:20px; line-height:1; }
.boxQuick a .title i img { vertical-align:top; }
.boxQuick a .subject { position:absolute; right:24px; top:50%; padding-right:18px; transform:translateY(-50%); font-size:14px; color:#999; }
.boxQuick a .subject:after { content:''; width:7px; height:13px; position:absolute; right:0; top:50%; margin-top:-5px; background:url('../images/common/iconArrow.png') center center no-repeat; background-size:100% auto; }


/* Guide */
.boxDepositGuide { margin:54px 15px 0; padding:0 6px 60px; position:relative; }
.boxDepositGuide:after { content:''; width:91px; height:140px; position:absolute; right:5px; bottom:49px; background:url('../images/main/bgDeposit.png') no-repeat; background-size:100% auto; z-index:1; }
.boxDepositGuide .subject { margin-bottom:8px; font-size:15px; font-weight:700; color:#2750f2; }
.boxDepositGuide .title { margin-bottom:18px; font-size:24px; font-weight:700; }
.boxDepositGuide .title span { position:relative; z-index:1; }
.boxDepositGuide .title span:after { content:''; width:100%; height:7px; position:absolute; left:0; bottom:2px; background:#ffdf31; z-index:-1; }
.boxDepositGuide .cont { margin-bottom:22px; font-size:16px; color:#999; line-height:1.32; }
.boxDepositGuide .link { height:24px; display:inline-block; color:#000; font-size:16px; font-weight:500; }

.boxDepositGuide.type--short { margin-top:50px; padding-bottom:45px; }
.boxDepositGuide.type--short:after { width:138px; height:113px; bottom:45px; background-image:url('../images/main/bgDeposit2.png'); }
.boxDepositGuide.type--short .title { font-size:22px; }
.boxDepositGuide.type--short .cont { margin:0; font-size:14px; line-height:21px; }


/* Invest Item */
.section.mainInvest { background:#ffdf31; }
.boxInvestItem { overflow:hidden; }
.boxInvestItem .swiper-container { overflow:visible; }
.boxInvestItem .swiper-slide { padding:0 15px; }
.boxInvestItem .box { border-radius:13px; background:#fff; box-shadow: 0 3px 3px 0 rgba(173, 173, 173, 0.16); }
.boxInvestItem .category { position:absolute; right:15px; top:15px; margin-bottom:3px; font-size:14px; text-shadow: 0 3px 3px rgba(0, 0, 0, 0.29); color:#fff; }
.boxInvestItem .year_per { width:108px; height:40px; position:absolute; left:50%; bottom:188px; margin-left:-54px; border-radius:30px; background:#2750f2; color:#fff; font-size:20px; line-height:40px; text-align:center; }
.boxInvestItem .year_per > span { display:inline-block; line-height:1.2; }
.boxInvestItem .thumb { border-top-left-radius:13px; border-top-right-radius:13px; overflow:hidden; }
.boxInvestItem .inner { padding:30px 17px 58px; position:relative; overflow:hidden; border-bottom-left-radius:13px; border-bottom-right-radius:13px; }
.boxInvestItem .title { margin-bottom:9px; font-size:19px; font-weight:700; }
.boxInvestItem .date { margin-bottom:30px; overflow:hidden; font-size:15px; color:#999; font-family:"AppleSDGothicNeo", sans-serif; }
.boxInvestItem .total { margin-bottom:4px; font-size:15px; color:#999; overflow:hidden; }
.boxInvestItem .total span { float:left; line-height:24px; }
.boxInvestItem .total span.price { float:none; display:block; margin-left:80px; font-size:20px; color:#2750f2; font-weight:700; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:24px; }
.boxInvestItem .graph { width:90px; height:90px; position:absolute; right:18px; top:22px; }
.boxInvestItem .graph .percent { position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); font-family:"SFProDisplay", 'Sans-serif'; font-size:16px; }
.boxInvestItem .graph canvas { width:100% !important; height:100% !important; }
.boxInvestItem .detail { width:100%; height:58px; display:block; position:absolute; left:0; bottom:0; background:#2750f2; color:#fff; line-height:58px; font-weight:700; font-size:17px; text-align:center; }
.boxInvestItem .detail:after { content:''; width:15px; height:15px; margin-top:-4px; margin-left:6px; display:inline-block; background:url('../images/common/iconDetailWhite.png') right center no-repeat; background-size:auto 100%; vertical-align:middle; }
.boxInvestItem .more { margin-top:76px; text-align:center; }
.boxInvestItem .more a { display:inline-block; color:#000; font-size:15px; }
.boxInvestItem .more a:after { content:''; width:7px; height:12px; display:inline-block; margin-left:8px; background:url('../images/common/iconArrow.png') right center no-repeat; background-size:auto 100%; }
.boxInvestItem .swiper-container-horizontal>.swiper-pagination-bullets,
.boxInvestItem .swiper-pagination-custom,
.boxInvestItem .swiper-pagination-fraction { bottom:-46px; }
.boxInvestItem .swiper-pagination-bullet { width:6px; height:6px; background:#fff; opacity:1; }
.boxInvestItem .swiper-pagination-bullet-active { background:#2750f2; }
.boxInvestItem .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin:0 2px; }


/* Prime Item */
.boxPrimeItem { overflow:hidden; }
.boxPrimeItem .swiper-container { overflow:visible; }
.boxPrimeItem .swiper-slide { width:68%; }
.boxPrimeItem .box { margin-left:15px; border:1px solid #f2f4f6; border-radius:13px; box-shadow: 0 3px 3px 0 rgba(173, 173, 173, 0.16); }
.boxPrimeItem .thumb { border-top-left-radius:13px; border-top-right-radius:13px; overflow:hidden; }
.boxPrimeItem .cont { padding:32px 18px 37px; }
.boxPrimeItem .title { padding:0 5px; font-size:19px; font-weight:700; }
.boxPrimeItem .percent { margin-bottom:16px; padding:0 5px; color:#29c1cf; font-size:15px; font-weight:700; }
.boxPrimeItem .percent span { font-size:16px; font-family:"SFProDisplay", 'Sans-serif'; }
.boxPrimeItem .auction { margin-bottom:4px; padding:0 5px; font-size:14px; }
.boxPrimeItem .date { padding:0 5px; margin-bottom:23px; overflow:hidden; }
.boxPrimeItem .period { float:left; font-family:"SFProDisplay", 'Sans-serif'; font-size:16px; color:#020202; font-weight:700; }
.boxPrimeItem .date .day { float:right; padding-left:24px; background:url('../images/main/iconDayClock.png') left center no-repeat; background-size:auto 16px; font-size:16px; font-weight:700; font-family:"SFProDisplay", 'Sans-serif'; }
.boxPrimeItem a.btnItemLink { height:52px; display:block; background:#29c1cf; border-radius:5px; text-align:center; color:#fff; font-size:17px; font-weight:700; line-height:52px; }
.boxPrimeItem .more { margin-top:76px; text-align:center; }
.boxPrimeItem .more a { display:inline-block; color:#999; font-size:15px; }
.boxPrimeItem .more a:after { content:''; width:9px; height:9px; display:inline-block; margin-left:5px; background:url('../images/common/iconArrow.png') right center no-repeat; background-size:auto 100%; }
.boxPrimeItem .swiper-container-horizontal>.swiper-pagination-bullets,
.boxPrimeItem .swiper-pagination-custom,
.boxPrimeItem .swiper-pagination-fraction { bottom:-46px; }
.boxPrimeItem .swiper-pagination-bullet { width:6px; height:6px; }
.boxPrimeItem .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin:0 2px; }


/* Digital Pawn */
.section.mainDigitalPawn { padding:47px 0 60px; background:#29c1cf; }
.section.mainDigitalPawn h3.title { color:#fff; }
.boxDigitalPawn { padding:0 15px; }
.boxDigitalPawn li { position:relative; background:#fff; border:1px solid #5facdd; border-radius:10px; box-shadow: 0 5px 6px 0 rgba(131, 131, 131, 0.22); overflow:hidden; font-family:"AppleSDGothicNeo", sans-serif; font-weight:500; }
.boxDigitalPawn li+li { margin-top:30px; }
.boxDigitalPawn li .cont { padding:36px 20px; position:relative; }
.boxDigitalPawn li .cont > .title { margin-bottom:15px; font-size:19px; font-weight:700; }
.boxDigitalPawn li .subject { margin-bottom:4px; font-size:15px; color:#999; }
.boxDigitalPawn li .opt { position:absolute; right:20px; top:38px; color:#2750f2; }
.boxDigitalPawn li .opt.won { color:#ffbd27; }
.boxDigitalPawn li .itemList { display:flex; margin-top:35px; }
.boxDigitalPawn li .itemList .item { flex:1; text-align:center; }
.boxDigitalPawn li .itemList .item i { width:34px; margin-bottom:10px; }
.boxDigitalPawn li .itemList .item .title { font-size:15px; font-weight:700; line-height:19px; }
.boxDigitalPawn li a { height:56px; display:block; background:#2750f2; text-align:center; line-height:56px; color:#fff; font-size:17px; font-weight:700; }
.boxDigitalPawn li a:after { content:''; width:13px; height:16px; margin-top:-2px; margin-left:6px; display:inline-block; background:url('../images/main/iconDetailPen.png') no-repeat; background-size:100% auto; vertical-align:middle; }


/* Event Banner */
.boxEventBanner { overflow:hidden; padding-bottom:82px; }
.boxEventBanner a { display:block; }
.boxEventBanner .swiper-container { overflow:visible; }
.boxEventBanner .swiper-slide { width:90%;}
.boxEventBanner .swiper-pagination-bullet { width:6px; height:6px; background:#e1e1e1; opacity:1; }
.boxEventBanner .swiper-pagination-bullet-active { background:#2750f2; }
.boxEventBanner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin:0 2px; }
.boxEventBanner .swiper-container-horizontal>.swiper-pagination-bullets,
.boxEventBanner .swiper-pagination-custom,
.boxEventBanner .swiper-pagination-fraction { bottom:-36px; }


/* Customer Link */
.listCustomer { padding-bottom:16px; }
.listCustomer li+li { border-top:1px solid #f2f4f6; }
.listCustomer li a { height:52px; padding:0 15px; position:relative; display:block; color:#000; font-size:17px; line-height:52px; font-weight:300; }
.listCustomer li a:after { content:''; width:8px; height:14px; position:absolute; right:15px; top:50%; margin-top:-7px; background:url('../images/common/iconArrow.png') center center no-repeat; background-size:100% auto; }
.listCustomer li a i { width:20px; display:inline-block; margin-right:16px; vertical-align:middle; }

