/* Common */
.section { padding:0 15px; }
.section--small { padding:0 8px; }
.section--large { padding:0 24px; }
.section+.section { margin-top:10px; }

h1.title { padding:34px 25px 25px; text-align:center; font-size:17px; font-weight:700; }
h2.title { padding:30px 10px; font-size:17px; font-weight:400; text-align:center; }
h2.title.icon--exmark { margin-bottom:20px; padding:42px 0 0; background:url('../images/common/iconExMark.png') center 6px no-repeat; background-size:20px auto; }
h3.title { padding:5px 11px; font-size:15px; font-weight:400; }
h3.title--large { padding:30px 0 16px; font-size:17px; font-weight:700; }
h3.title--large span { font-weight:400; }
h4.title { margin-bottom:15px; font-size:12px; font-weight:400; text-align:left; }
h4.title--medium { margin-bottom:11px; font-size:15px; font-weight:700; }
h4.title--large { font-size:18px; font-weight:700; }

.headerArea { margin:0 15px; position:relative; }
.headerArea .btnPagePrev { width:41px; height:49px; position:absolute; left:-15px; top:20px; background-image:url('../images/common/iconArrowWhite.png'); background-position:center center; background-repeat:no-repeat; background-size:12px auto; font-size:0; text-indent:-99999px; }
.headerArea .btnPagePrev.black { background-image:url('../images/common/iconArrowBlack.png'); }
.headerArea .btnPageClose { width:40px; height:40px; position:absolute; left:-8px; top:26px; background:url('../images/common/iconCloseBlack.png') center center no-repeat; background-size:20px auto; font-size:0; text-indent:-99999px; }
.headerArea .btnPageHome { width:52px; height:50px; position:absolute; right:-15px; top:20px; background:url('../images/common/iconHome.png') center center no-repeat; background-size:22px auto; font-size:0; text-indent:-99999px; }
.headerArea .btnPageHome.black { background-image:url('../images/common/iconHomeBlack.png'); }

.topStep { position:absolute; right:0; top:37px; overflow:hidden; }
.topStep li { width:20px; height:20px; position:relative; float:left; border:1px solid #bebebe; border-radius:50%; text-align:center; line-height:18px; color:#bebebe; font-family:"SFProDisplay", 'Sans-serif'; }
.topStep li+li { margin-left:4px; }
.topStep li+li:after { content:''; width:4px; height:1px; position:absolute; left:-5px; top:50%; background:#bebebe; }
.topStep li.active { border-color:#2750f2; color:#2750f2; }

.centerStep { padding:5px 0; position:relative; text-align:center; }
.centerStep ul { display:inline-block; overflow:hidden; }
.centerStep ul li { width:24px; height:24px; position:relative; float:left; border:1px solid #d5d5d5; border-radius:50%; line-height:22px; color:#d5d5d5; font-family:"SFProDisplay", 'Sans-serif'; }
.centerStep ul li.active { background:#2750f2; border:1px solid #2750f2; color:#fff; }
.centerStep ul li+li { margin-left:14px; }
.centerStep ul li+li:after { content:''; width:14px; height:1px; position:absolute; left:-15px; top:50%; background:#d5d5d5; }


.listDocument dt { margin-bottom:3px; padding:0 13px; position:relative; display:block; font-size:15px; font-weight:700 }
.listDocument dt:after { content:''; width:3px; height:3px; position:absolute; left:5px; top:8px; background:#000; border-radius:50%; }
.listDocument dd { padding:0 13px; margin-bottom:15px; display:block; font-size:15px; font-weight:300; }

.listCompanyInfo dl { display:block; overflow:hidden; }
.listCompanyInfo dl+dl { margin-top:12px; }
.listCompanyInfo dt { float:left; font-size:15px; color:#999; }
.listCompanyInfo dd { margin-left:10px; float:left; font-size:15px; }


/* Input */
.inputBasic { width:100%; height:50px; padding:0 15px; position:relative; background:#fff; border:1px solid #d5d5d5; border-radius:5px; color:#000; font-size:15px; z-index:1; }
.inputBasic::placeholder { color:#ccc; }
input[type="password"].inputBasic { padding-right:50px; }
.inputPassword { position:relative; }
.inputPassword input.danger { border-color:#ff6363; }
.btnHiddenPass { width:50px; height:50px; position:absolute; right:0; top:0; background:url('../images/common/iconPassword.png') center center no-repeat; background-size:20px auto; z-index:5; }
.inputGold { position:relative; }
.inputGold input { padding:0 108px 0 20px; z-index:1; font-size:15px; font-weight:600; font-family:"SFProDisplay", 'Sans-serif'; }
.inputGold input::placeholder { color:#d5d5d5; }
.inputGold span { height:50px; position:absolute; right:20px; top:0; font-size:15px; z-index:2; line-height:50px; }
.inputUnit { position:relative; }
.inputUnit input { padding:0 20px 0 90px; z-index:1; }
.inputUnit.value--max input { padding-right:50px; }
.inputUnit span { width:70px; height:50px; padding-left:20px; position:absolute; left:0; top:0; font-family:"SFProDisplay", 'Sans-serif'; line-height:50px; z-index:2; }
.inputUnit span:after { content:''; width:1px; height:18px; position:absolute; right:0; top:50%; margin-top:-9px; background:#d5d5d5; }
.inputUnit .max { height:50px; display:none; position:absolute; right:20px; top:0; z-index:2; line-height:50px; color:#2750f2; font-size:12px; }
.inputUnit.value--max .max { display:block; }
.inputUnit.icon--trade { margin-top:34px; }
.inputUnit.icon--trade:after { content:''; width:19px; height:15px; position:absolute; left:50%; top:-25px; margin-left:-9px; background:url('../images/common/iconTrade.png') no-repeat; background-size:100% auto; }
.inputAddress { position:relative; }
.inputAddress input { padding-right:60px; position:relative; z-index:1; }
.inputAddress .btnQRcode { width:50px; height:50px; position:absolute; right:0; top:0; background:url('../images/common/iconQRcode.png') center center no-repeat; background-size:20px auto; font-size:0; text-indent:-99999px; z-index:2; }
.inputAddress.active input { padding-right:20px; }
.inputAddress.active .btnQRcode { display:none; }
.inputCalendar { position:relative; }
.inputCalendar input { padding-right:50px; font-size:17px; }
.inputCalendar .btnCalendar { width:44px; height:50px; position:absolute; right:0; top:0; background:url('../images/common/iconDatepicker.png') center center no-repeat; background-size:14px auto; font-size:0; text-indent:-99999px; z-index:3; }


/* Input Checkbox */
.inputCheckbox { margin-bottom:15px; overflow:hidden; }
.inputCheckbox input { position:absolute; lefT:-99999px; top:0; opacity:0; }
.inputCheckbox label { float:left; margin-left:15px; padding-left:38px; background:url('../images/common/iconCheckBasic.png') left center no-repeat; background-size:30px auto; line-height:30px; font-size:15px; font-weight:100; }
.inputCheckbox input:checked+label { background-image:url('../images/common/iconCheckBasic_on.png'); }
.inputCheckbox label:first-of-type { margin-left:0; }

.boxCheckTab { margin-bottom:30px; }
.boxCheckTab .cont { display:none; }
.boxCheckTab .cont.active { display:block; }
.boxCheckTab .cont .address { min-height:50px; display:flex; align-items:center; font-size:15px; word-break:keep-all; }
.boxCheckTab .cont .btnBasic { font-size:15px; }


/* Row */
.row { position:relative; }
.row+.row { margin-top:3px; }
.row.division { padding-right:98px; }
.row.division:after { content:''; display:block; clear:both; visibility:visible; }
.row.division .btnBasic { width:90px; height:50px; position:absolute; right:0; top:0; font-weight:400; }
.row.division_half { display:flex; }
.row.division_half > div { flex: 1; }
.row.division_half > div+div { margin-left:5px; }


/* Select */
.select { position:relative; }
.select:after { content:''; width:11px; height:6px; position:absolute; right:13px; top:50%; margin-top:-3px; background:url('../images/common/iconSelect.png') center center no-repeat; background-size:100% auto; }
.select select { width:100%; height:50px; position:relative; padding:0 15px; border:1px solid #d5d5d5; border-radius:5px; background:transparent; font-size:15px; z-index:3; }
.select select option { padding:0 15px; }

.tokenSelect { width:74px; height:24px; padding-right:24px; margin:0 auto 20px; background:url('../images/common/iconSelectRound.png') right center no-repeat; background-size:24px auto; line-height:24px; }
.tokenSelect select { height:24px; padding:0 10px; border:0; background:transparent; font-weight:700; font-size:17px; }

/* Guide Text */
.guide-text { display:block; margin-top:4px; color:#999; font-weight:300; word-break:keep-all; }
.guide-text.danger { color:#ff6363; }
.guide-text.type--dot { padding:0 13px 0 6px; position:relative; }
.guide-text.type--dot:before { content:'·'; position:absolute; left:0; top:0; }
.guide-text.type--dot+.guide-text { margin-top:10px; }
.guide-text.boxGray { padding:8px; background:#f2f4f6; text-align:center; border-radius:5px; }


/* Agree List */
.boxBasicAgree { margin:50px 0 40px; }
.boxBasicAgree input[type='checkbox'] { position:absolute; left:-99999px; top:0; opacity:0; }
.boxBasicAgree label { display:block; padding-left:23px; background-image:url('../images/common/iconCheckBasic.png'); background-position:left 2px; background-repeat:no-repeat; background-size:18px auto; line-height:22px; font-size:15px; font-weight:300; letter-spacing:-0.1em; }
.boxBasicAgree input[type='checkbox']:checked + label { background-image:url('../images/common/iconCheckBasic_on.png'); }
.boxBasicAgree .with--detail label { margin-right:25px; }
.boxBasicAgree a.detail { position:absolute; right:0; top:0; line-height:22px; font-size:12px; color:#999; text-decoration:underline; }
.boxBasicAgree .areaAllCheck { margin-bottom:15px; position:relative; }

.boxBasicAgree .areaCheck .item { position:relative; }
.boxBasicAgree .areaCheck .item+.item { margin-top:15px; }


/* Complate */
.boxComplate { padding:132px 20px; }
.boxComplate .cont.icon--join { padding-top:48px; background:url('../images/common/iconJoinComplate.png') left top no-repeat; background-size:auto 34px; }
.boxComplate .cont.icon--complate { padding-top:48px; background:url('../images/common/iconCheckBlack.png') left top no-repeat; background-size:auto 35px; }
.boxComplate .cont .title { margin-bottom:20px; font-size:25px; font-weight:700; }
.boxComplate .cont .explanation { margin-bottom:23px; font-size:17px; line-height:1.65; letter-spacing:-.085em; word-break:keep-all; }
.boxComplate .cont .explanation ul li { position:relative; }
.boxComplate .cont .explanation ul li:before { content:'·'; position:absolute; left:-9px; top:0; font-size:17px; }
.boxComplate .cont .explanation .etc { font-size:15px; color:#999; font-weight:300; }


/* Filebox */
.filebox { padding-right:98px; position:relative; }
.filebox .uploadName { width:100%; height:50px; padding:0 15px; display:block; border:1px solid #d5d5d5; border-radius:5px; font-size:15px; }
.filebox .uploadName::placeholder { color:rgba(0, 0, 0, 0.35); }
.filebox label { width:95px; height:50px; position:absolute; right:0; top:0; border:1px solid #2750f2; border-radius:5px; text-align:center; line-height:50px; color:#2750f2; font-size:17px; }
.filebox .uploadHidden { position:absolute; left:-99999px; top:0; opacity:0; }


/* Wallet */
.boxWalletTop { position:relative; padding:0 15px 34px; }
.boxWalletTop .top { overflow:hidden; }
.boxWalletTop .top .title { float:left; position:relative; padding-right:18px; color:#fff; line-height:26px; }
.boxWalletTop .top .btnInfo { width:14px; height:14px; position:absolute; right:0; top:50%; margin-top:-7px; background:url('../images/common/iconMarkSmall.png') center center no-repeat; background-size:14px auto; font-size:0; text-indent:-99999px; }
.boxWalletTop .top .typeMark { width:40px; height:40px; float:left; display:flex; background:#fff; border-radius:50%; align-items:center; justify-content:center; }
.boxWalletTop .top .typeMark img { width:25px; }
.boxWalletTop .top .btnTransList { width:80px; height:26px; float:right; border:1px solid rgba(255,255,255,.4); border-radius:13px; color:#f2f4f6; font-size:12px; text-align:center; line-height:24px; }
.boxWalletTop .priceWrap { margin:40px 0 60px; text-align:center; }
.boxWalletTop .priceWrap .title { font-size:19px; color:#000; font-weight:700; }
.boxWalletTop .priceWrap > .price { font-size:30px; font-weight:700; color:#fff; }
.boxWalletTop .priceWrap .bottomPrice > div { display:inline-block; }
.boxWalletTop .priceWrap .bottomPrice .subTitle { font-size:15px; color:#c6e9ff; }
.boxWalletTop .priceWrap .bottomPrice .usePrice { margin-left:20px; font-size:15px; color:#fff; }
.boxWalletTop .priceWrap .bottomPriceGroup { margin:10px auto; display:inline-block; text-align:left; }
.boxWalletTop .priceWrap .bottomPriceGroup .subTitle { width:95px; float:left; }
.boxWalletTop .priceWrap .bottomPriceGroup .usePrice { margin-left:95px; display:block; }
.boxWalletTop .btn { display:flex; border:1px solid #5273f5; border-radius:5px; overflow:hidden; }
.boxWalletTop .btn button { flex:1; height:50px; position:relative; font-size:15px; color:#fff; }
.boxWalletTop .btn button+button:after { content:''; width:1px; height:15px; position:absolute; left:0; top:50%; margin-top:-7px; background:#5273f5; }

.boxWalletTop.type--hgx { padding:20px 18px 25px; border-radius:13px; background:#ffdf0b; box-shadow: 0 7px 5px 0 rgba(255, 199, 48, 0.2); }
.boxWalletTop.type--hgx .top .btnTransList { margin-top:7px; border-color:#000; color:#000; }
.boxWalletTop.type--hgx .top .btnTransList:before { content:''; width:12px; height:12px; margin-right:4px; display:inline-block; background:url('../images/common/iconTrans.png') center center no-repeat; background-size:100% auto; }
.boxWalletTop.type--hgx .priceWrap { margin:17px 0 22px; }
.boxWalletTop.type--hgx .priceWrap > .price { color:#000; }
.boxWalletTop.type--hgx .priceWrap .bottomPrice { color:#847000; font-size:17px; font-weight:500; }
.boxWalletTop.type--hgx .priceWrap .bottomPrice--guide { margin-top:15px; color:rgba(132,112,0,0.5); }
.boxWalletTop.type--hgx .btn { border-color:#ccb327; }
.boxWalletTop.type--hgx .btn button { color:#000; }
.boxWalletTop.type--hgx .btn button+button:after { background:#CCB309; }

.boxWalletTop.type--hgx2 { padding:20px 18px 25px; border-radius:13px; background:#2750f2; box-shadow: 0 7px 5px 0 rgba(41, 193, 207, 0.11); }
.boxWalletTop.type--hgx2 .top .btnTransList { margin-top:7px; }
.boxWalletTop.type--hgx2 .top .btnTransList:before { content:''; width:12px; height:12px; margin-right:4px; display:inline-block; background:url('../images/common/iconTransWhite.png') center center no-repeat; background-size:100% auto; }
.boxWalletTop.type--hgx2 .top .typeMark img { width:17px; }
.boxWalletTop.type--hgx2 .priceWrap { margin:0 0 20px; }
.boxWalletTop.type--hgx2 .priceWrap .title { color:#fff; }

.boxWalletTop.type--btc { padding:20px 18px 25px; border-radius:13px; background:#29c1cf; box-shadow: 0 7px 5px 0 rgba(41, 130, 207, 0.09); }
.boxWalletTop.type--btc .top .typeMark img { width:10px; }
.boxWalletTop.type--btc .priceWrap { margin:8px 0 20px; }
.boxWalletTop.type--btc .priceWrap .title { color:#fff; }
.boxWalletTop.type--btc .priceWrap .bottomPrice .subTitle { color:#a9ecf2; }
.boxWalletTop.type--btc .btn { border:1px solid #6ad7e2; }
.boxWalletTop.type--btc .btn button+button:after { background:#6ad7e2; }

.boxInfoHGX { margin:40px 12px 0 0; position:relative; background:url('../images/content/imgInfo_hgx.png') right top no-repeat; background-size:132px auto; }
.boxInfoHGX .title { margin-bottom:15px; font-size:28px; font-weight:100; }
.boxInfoHGX .subject { margin-bottom:18px; font-size:17px; font-weight:700; }
.boxInfoHGX p { font-size:15px; font-weight:100; color:#999; }

.boxWalletDigital { margin-bottom:0; padding-bottom:50px; border-top-left-radius:20px; border-top-right-radius:20px; }

.boxGoldNow { height:88px; position:relative; padding:0 38px 0 20px; display:flex; align-items:center; border-radius:13px; background:#ffdf0b; }
.boxGoldNow:after { content:''; width:8px; height:14px; position:absolute; right:18px; top:50%; margin-top:-7px; background:url('../images/common/iconArrowYellow.png') center center no-repeat; background-size:100% auto; }
.boxGoldNow .title { padding:5px 0 5px 28px; flex:1; background:url('../images/main/iconDigitalPawn1.png') left center no-repeat; background-size:24px auto; font-size:15px; font-weight:700; }
.boxGoldNow .assets { flex:1; text-align:right; }
.boxGoldNow .assets .price { font-family:"SFProDisplay", 'Sans-serif'; font-size:15px; font-weight:700; }
.boxGoldNow .assets .info { margin-top:3px; font-family:"SFProDisplay", 'Sans-serif'; }

.boxAssetList { padding-bottom:60px; }
.boxAssetList li+li { margin-top:10px; }
.boxAssetList li a { height:88px; display:flex; position:relative; padding:0 38px 0 24px; border:1px solid #f2f4f6; border-radius:13px; box-shadow: 0 3px 3px 0 rgba(214, 215, 222, 0.17); align-items:center; }
.boxAssetList li a:hover,
.boxAssetList li a.active { border-color:#2750f2; }
.boxAssetList li a:after { content:''; width:8px; height:14px; position:absolute; right:18px; top:50%; margin-top:-7px; background:url('../images/common/iconArrow.png') center center no-repeat; background-size:100% auto; }
.boxAssetList li .title { padding-left:22px; flex:1; font-size:15px; font-weight:700; background-size:18px auto; background-position:left center; background-repeat:no-repeat; }
.boxAssetList li .title.icon--hgx { background-image:url('../images/common/iconAsset-HGX.png'); }
.boxAssetList li .title.icon--btc { background-image:url('../images/common/iconAsset-BTC.png'); }
.boxAssetList li .title.icon--eth { background-image:url('../images/common/iconAsset-ETH.png'); }
.boxAssetList li .title.icon--ustd { background-image:url('../images/common/iconAsset-USTD.png'); }
.boxAssetList li .info { flex:1; text-align:right; }
.boxAssetList li .info .price { font-size:15px; font-weight:700; color:#2750f2; font-family:"SFProDisplay", 'Sans-serif'; }
.boxAssetList li .info .total { color:#999; }


/* List Sort */
.listSort:after { content:''; display:block; clear:both; }
.listSort ul { margin-right:8px; float:right; position:relative; padding-right:14px; }
.listSort ul:after { content:''; width:9px; height:6px; position:absolute; right:0; top:50%; margin-top:-3px; background:url('../images/common/iconArrowSort.png') right center no-repeat; background-size:9px auto; }
.listSort ul.up:after { margin-top:-2px; transform:rotate(180deg); }
.listSort ul li { padding:0 4px; float:left; position:relative; color:#6d7278; }
.listSort ul li+li:after { content:''; width:2px; height:2px; position:absolute; left:-1px; top:50%; margin-top:-1px; border-radius:50%; background:#6d7278; }


/* Account */
.boxAccountList {  }
.boxAccountList .listSort { margin-bottom:16px; }
.boxAccountList .listYear { height:26px; padding:0 14px;  background:#f2f4f6; font-size:10px; color:#999; line-height:26px; }
.boxAccountList .cont li+li { border-top:1px solid #f2f4f6; }
.boxAccountList .cont a { height:106px; padding:0 30px 0 6px; position:relative; display:flex; align-items:center; }
.boxAccountList .cont a:after { content:''; width:8px; height:14px; position:absolute; right:8px; top:50%; margin-top:-7px; background:url('../images/common/iconArrow.png') center center no-repeat; background-size:100% auto; }
.boxAccountList .cont .title { flex:1; }
.boxAccountList .cont .title .company { font-size:15px; }
.boxAccountList .cont .title .use { min-width:60px; float:left; line-height:22px; font-size:15px; }
.boxAccountList .cont .title .date { float:left; margin-right:8px; line-height:22px; color:#999; }
.boxAccountList .cont .title .status { width:48px; height:22px; float:left; border:1px solid #d4d8db; border-radius:11px; line-height:20px; text-align:center; color:#a1a4a7; font-size:10px; }
.boxAccountList .cont .info { float:1; text-align:right; }
.boxAccountList .cont .info .price { font-size:15px; font-weight:700; color:#2750f2; font-family:"SFProDisplay", 'Sans-serif'; }
.boxAccountList .cont .info .price.out { color:#000; }
.boxAccountList .cont .info .total { color:#999; font-family:"SFProDisplay", 'Sans-serif'; }

.title--top { position:relative; }
.title--top .opt { position:absolute; right:0; bottom:0; }

.listTop--title { padding:5px 0 15px; position:relative; }
.listTop--title h3.title { padding:0 0 0 8px; }
.listTop--title .listSort { position:absolute; right:0; top:50%; transform:translateY(-50%); margin:0; }


/* Account Popup */
.popAccount { padding:33px 0 0; }
.popAccount .section { padding:25px 15px; }
.popAccount .detail { height:88px; margin-bottom:30px; display:flex; align-items:center; justify-content:center; flex-direction:column; background:#f2f4f6; border-radius:13px; }
.popAccount .detail .usePrice { font-size:19px; font-weight:700; font-family:"SFProDisplay", 'Sans-serif'; }
.popAccount .detail .price { font-size:15px; color:#999; }

.listDetail li { overflow:hidden; }
.listDetail li+li { margin-top:10px; }
.listDetail li .title { float:left; margin:0; font-size:15px; }
.listDetail li .cont { float:right; color:#999; font-size:15px; font-family:"SFProDisplay", 'Sans-serif'; }

.listTable dt { display:block; margin-bottom:5px; font-size:15px; }
.listTable dd { display:block; margin-bottom:20px; font-family:"SFProDisplay", 'Sans-serif'; font-size:15px; color:#999; word-break:break-all; }

.underLink { color:#999; text-decoration:underline; }


/* Address Copy */
.boxAddressCopy { margin-bottom:45px; position:relative; padding-right:92px; }
.boxAddressCopy .copyArea { padding:20px 25px 17px 17px; border:1px solid #d5d5d5; border-radius:5px; }
.boxAddressCopy .copyArea .title { margin-bottom:4px; }
.boxAddressCopy .copyArea .text { color:#999; word-break:break-all; }
.boxAddressCopy .btnCopy { width:86px; position:absolute; right:0; top:0; bottom:0; border:1px solid #d4d8db; background:#f2f4f6; border-radius:5px; font-size:15px; }

.boxQRcode { margin-bottom:32px; text-align:center; }
.boxQRcode > img { width:115px; }


.boxDetailGray { margin-bottom:25px; padding:28px 20px; background:#f2f4f6; border-radius:5px; text-align:center; }
.boxDetailGray dl dt { display:block; font-size:15px; color:#999; }
.boxDetailGray dl dd { display:block; font-size:15px; }
.boxDetailGray dl dd+dt { margin-top:15px; }


/* Tab */
.tabBasic { margin-top:10px; display:flex; }
.tabBasic button { height:40px; flex:1; background:#f2f4f6; border-left:1px solid #d5d5d5; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; font-family:"SFProDisplay", 'Sans-serif'; color:#999; font-size:13px; }
.tabBasic button:first-child { border-top-left-radius:5px; border-bottom-left-radius:5px; }
.tabBasic button:last-child { border-right:1px solid #d5d5d5; border-top-right-radius:5px; border-bottom-right-radius:5px; }
.tabBasic button.active { background:#fff; border-color:#2750f2; color:#2750f2; font-weight:600; }
.tabBasic button.active+button { border-left-color: #2750f2; }


/* Date */
.dateBasic { height:40px; position:relative; display:flex; border:1px solid #d5d5d5; border-radius:5px; }
.dateBasic:after { content:''; width:6px; height:1px; position:absolute; left:50%; top:50%; transform:translate(-50% -50%); background:#000; }
.dateBasic a { flex:1; display:flex; align-items:center; justify-content:center; font-size:13px; }
.dateBasic a:before { content:''; width:14px; height:15px; margin-right:12px; display:inline-block; background:url('../images/common/iconDatepicker.png') center center no-repeat; background-size:100% auto; }



/* Security */
.listSecurity {  }
.listSecurity li+li { margin-top:10px; }
.listSecurity li a { display:block; border-radius:5px; border:1px solid #f2f4f6; box-shadow: 0 3px 6px 0 rgba(173, 173, 173, 0.16); }
.listSecurity li a.active { border-color:#2750f2; }
.listSecurity li .bottom { overflow:hidden; }
.listSecurity li .bottom .link { padding-right:14px; background:url('../images/common/iconArrow.png') right center no-repeat; background-size:auto 10px; }


/* Gold Service */
.boxGoldService { margin-bottom:45px; padding:50px 25px 45px; position:relative; background:#ffdf0b; }
.boxGoldService .title { margin-bottom:20px; font-size:26px; font-weight:700; }
.boxGoldService .cont { margin-bottom:15px; font-size:16px; }
.boxGoldService .etc { color:#a59002; }
.boxGoldService:after { content:''; width:134px; height:134px; position:absolute; right:0; bottom:15px; background:url('../images/content/bgGoldService.png') no-repeat; background-size:100% auto; }


/* Gold Item */
.boxGoldItem { display:flex; }
.boxGoldItem .item { flex:1; margin:0 5px; text-align:center; }
.boxGoldItem .item:first-child { margin-left:0; margin-right:8px; }
.boxGoldItem .item:last-child { margin-right:0; margin-left:8px; }
.boxGoldItem .item .thumb { height:96px; margin-bottom:10px; display:flex; position:relative; border:1px solid #edeffa; border-radius:13px; align-items:center; justify-content:center; }
.boxGoldItem .item .thumb i { width:36px; }
.boxGoldItem .item .title { font-size:15px; }


/* List Process */
.listProcess { padding:0 10px; }
.listProcess li { position:relative; padding-left:56px; }
.listProcess li:before { content:''; width:38px; height:38px; position:absolute; left:0; top:0; border-radius:50%; background:#ffe11c; text-align:center; line-height:38px; }
.listProcess li:nth-child(1):before { content:'1'; }
.listProcess li:nth-child(2):before { content:'2'; }
.listProcess li:nth-child(3):before { content:'3'; }
.listProcess li:nth-child(4):before { content:'4'; }
.listProcess li:after { content:''; width:1px; height:100%; position:absolute; left:19px; top:38px; background:#ffe11c; }
.listProcess li:last-child:after { display:none; }
.listProcess li+li { margin-top:25px; }
.listProcess li .title { margin-bottom:2px; font-size:15px; }
.listProcess li .cont { color:#999; font-size:15px; font-family:"SFProDisplay", 'Sans-serif'; }


/* List Text */
.listText {  }
.listText li { position:relative; font-size:15px; letter-spacing:-0.075em; }
.listText li+li { margin-top:12px; }
.listText.type--dot li { padding-left:9px; }
.listText.type--dot li:before { content:'·'; position:absolute; left:0; top:0; font-size:15px; }


.boxMap .mapArea { margin-bottom:15px; }
.boxMap .mapArea img { width:100%; }
.boxMap .mapAddress { font-size:15px; }


.boxGoldOut { margin-bottom:40px; padding:0 25px 20px; border-radius:20px; background:#ffdf0b; }
.boxGoldOut .cont { display:flex; text-align:center; }
.boxGoldOut .cont > div { height:110px; position:relative; flex:1; flex-direction:column; display:flex; align-items:center; justify-content:center; }
.boxGoldOut .cont > div+div:after { content:''; width:1px; height:40px; position:absolute; left:0; top:50%; margin-top:-20px; background:rgba(204,179,39,0.51) }
.boxGoldOut .cont .title { font-size:15px; }
.boxGoldOut .cont .price { font-size:20px; font-weight:700; font-family:"SFProDisplay", 'Sans-serif'; }
.boxGoldOut .subject { border-top:1px solid rgba(204,179,39,.5); padding:12px 0; text-align:center; color:rgba(132,112,0,1.5); }


/* Deposit Item */
.boxDepositItem { margin-bottom:25px; padding:64px 30px; position:relative; background:#39aaf2;  }
.boxDepositItem:after { content:''; width:170px; height:144px; position:absolute; right:0; bottom:26px; background:url('../images/content/bgDepositItem.png') no-repeat; background-size:100% auto; }
.boxDepositItem .cont { position:relative; z-index:2; font-size:17px; color:#fff; font-weight:100; line-height:1.55; }

.listDepositItem { padding:18px 0; }
.listDepositItem li { padding:30px 20px; position:relative; border-radius:13px; border:1px solid #f2f4f6; box-shadow: 0 3px 3px 0 rgba(173, 173, 173, 0.16); }
.listDepositItem li+li { margin-top:20px; }
.listDepositItem .company { font-size:14px; }
.listDepositItem .title { margin-bottom:24px; font-size:19px; font-weight:700; }
.listDepositItem .title span.int { width:50px; height:24px; margin:-3px 0 0 8px; display:inline-block; border:1px solid #29c1cf; border-radius:13px; text-align:center; font-size:12px; color:#29c1cf; line-height:22px; font-weight:400; vertical-align:middle; }
.listDepositItem .graph { width:90px; height:90px; position:absolute; right:15px; top:18px; }
.listDepositItem .cont { margin-bottom:36px; overflow:hidden; }
.listDepositItem .cont .date { float:left; margin-right:15px; font-size:15px; color:#999; }
.listDepositItem .cont .date span.en { margin-left:4px; font-size:16px; }
.listDepositItem .cont .dDay { float:left; padding-left:20px; background:url('../images/main/iconDayClock.png') left  center no-repeat; background-size:16px auto; font-size:16px; font-family:"SFProDisplay", 'Sans-serif'; font-weight:700; color:#020202; }
.listDepositItem .cont .total { float:left; font-size:15px; color:#999; }
.listDepositItem .cont .total span.en { margin-left:4px; font-size:17px; font-weight:700; color:#000; }


.circular-chart { display: block; margin:5px; transform:rotateY(180deg) }
.circular-chart .circle-bg { fill: none; stroke: #eee; stroke-width: 2.8; }
.circular-chart .circle { stroke: #29c1cf; fill: none; stroke-width: 2.8; stroke-linecap: round; animation: progress 1s ease-out forwards;  }
.circular-chart .percentage { fill: #f2f4f6; text-anchor: middle; }

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}


/* Deposit Detail */
.detailDepositTop { margin-bottom:35px; padding:30px 30px 30px 22px; border-radius:13px; background:#f0f9ff; overflow:hidden; }
.detailDepositTop .vaild { width:97px; height:112px; float:left; background:url('../images/content/bgDepositTop.png') no-repeat; background-size:97px auto; text-align:center; }
.detailDepositTop .vaild .title { width:80px; margin:10px auto 0; font-size:13px; color:#fff; line-height:19px; font-weight:300; }
.detailDepositTop .vaild .percentage { width:80px; margin:0 auto; font-size:19px; color:#fff; line-height:19px; font-weight:700; }
.detailDepositTop dl { display:block; margin-left:112px; }
.detailDepositTop dl dt { width:80px; float:left; line-height:30px; font-size:15px; color:#2c2c2c; }
.detailDepositTop dl dd { display:block; margin-left:85px; line-height:30px; font-size:15px; font-weight:700; color:#2c2c2c; }
.detailDepositTop dl dd span.en { font-size:16px; font-weight:500; }

.dropbox--item { overflow:hidden; }
.dropDeposit { padding:20px 18px; background:#f0f9ff; overflow:hidden; }
.dropDeposit .item { width:33.3%; margin:2px 0; float:left; color:#5facdd; text-align:center; }