@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 100;
	src: local('SpoqaHanSansNeo-Thin'),
	url('../font/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
	url('../font/SpoqaHanSansNeo-Thin.woff') format('woff'),
	url('../font/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 300;
	src: local('SpoqaHanSansNeo-Light'),
	url('../font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
	url('../font/SpoqaHanSansNeo-Light.woff') format('woff'),
	url('../font/SpoqaHanSansNeo-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 400;
	src: local('SpoqaHanSansNeo-Regular'),
	url('../font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
	url('../font/SpoqaHanSansNeo-Regular.woff') format('woff'),
	url('../font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 500;
	src: local('SpoqaHanSansNeo-Medium'),
	url('../font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
	url('../font/SpoqaHanSansNeo-Medium.woff') format('woff'),
	url('../font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 700;
	src: local('SpoqaHanSansNeo-Bold'),
	url('../font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
	url('../font/SpoqaHanSansNeo-Bold.woff') format('woff'),
	url('../font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

/* common */
* {margin:0; padding:0; box-sizing: border-box; list-style:none; text-decoration:none;
	outline: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: transparent; }
html, body { width: 100%; height:100%; position: relative; font-size:12px; font-family: 'SpoqaHanSansNeo', 'Sans-serif'; letter-spacing: -0.05em; line-height:1.4; font-weight:400; color:#000; }
ul>li>a { text-decoration:none; }
a {color: inherit;}
table { border-collapse: collapse; }
.blind {position:absolute !important;visibility:hidden !important;top:0 !important;left:0 !important;height:0 !important;width:0 !important;font-size:0 !important;line-height:0 !important;overflow:hidden !important;}
fieldset {border:none;}
legend {display:none;}
caption {display:none;}
p, strong, span {letter-spacing: -0.05em;}
i {display: inline-block;}
em {font-style: normal; letter-spacing: -1px;}
input {box-sizing: border-box; border: 1px solid #ddd; background-color: #fff; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family:inherit; }
input[type=text]::-ms-clear {display:none;}
button {box-sizing: border-box; border: 0; background-color: transparent; cursor: pointer; color:inherit; font-family: 'SpoqaHanSansNeo', 'Sans-serif'; }
textarea {box-sizing: border-box; resize: none;}
select {-webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; box-sizing: border-box; cursor: pointer; font-family: inherit; }
select::-ms-expand {display: none;}
img { max-width:100%; }
hr { border:0; }

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }


/* Text Align */
.ta-l { text-align:left !important;}
.ta-c { text-align:center !important; }
.ta-r { text-align:right !important; }

.color--red { color:#c10000; }
.color--blue { color:#2750f2; }

.wpx150 { width:150px !important; }
.w50 { width:50% !important; }
.w100 { width:100%; }

.dis--inBlock { display:inline-block !important; }

.ml50 { margin-left:50px !important; }
.ml100 { margin-left:100px !important; }

#header { width:100%; height:100px; padding:0 45px; position:absolute; left:0; top:0; background:#273444; overflow:hidden; }
#header h1.logo { width:137px; height:100px; float:left; background:url('../images/logo.png') center 22px no-repeat; font-size:0; text-indent:-99999px; }
#header .topInfo { position:absolute; right:0; top:0; }
#header .topInfo .name { height:100px; padding:0 50px; float:left; border-left:1px solid #040507; border-right:1px solid #040507; line-height:100px; color:#fff; font-size:18px; }
#header .topInfo .btnLogout { width:90px; height:100px; float:left; position:relative; border-left:1px solid #040507; font-size:0; text-indent:-99999px; }
#header .topInfo .btnLogout:after { content:''; width:40px; height:40px; margin:-20px 0 0 -20px; position:absolute; left:50%; top:50%; background:url('../images/split.png') 0 -80px no-repeat; }

#nav { height:100px; margin:0 215px 0 195px; overflow-x:auto; overflow-y:hidden; }
#nav ul { width:1720px; height:100%; overflow:hidden; }
#nav li { height:100%; float:left; }
#nav li a { height:100%; padding:0 22px 0 30px; display:flex; align-items:center; justify-content:center; color:#c1c1c1; font-size:18px; }
#nav li a:before { content:''; width:38px; height:38px; margin-right:10px; display:inline-block; border-radius:2px; background:url('../images/split.png') #344050 no-repeat; background-position-y:-2px; vertical-align:middle; }
#nav li a.icon1:before { background-position-x:-2px; }
#nav li a.icon2:before { background-position-x:-42px; }
#nav li a.icon3:before { background-position-x:-82px; }
#nav li a.icon4:before { background-position-x:-122px; }
#nav li a.icon5:before { background-position-x:-162px; }
#nav li a.icon6:before { background-position-x:-202px; }
#nav li a.icon7:before { background-position-x:-242px; }
#nav li a.icon8:before { background-position-x:-282px; }
#nav li a.icon9:before { background-position-x:-322px; }
#nav li a.icon10:before { background-position-x:-362px; }
#nav li a:hover, #nav li.on a { background-color:#202e3f; color:#4880ff; }
#nav li a:hover:before, #nav li.on a:before { background-position-y:-42px; }

#nav::-webkit-scrollbar {width: 8px; height: 8px; border: 2px solid #fff; }

#nav::-webkit-scrollbar-track {background: #273444; }
#nav::-webkit-scrollbar-thumb {height: 50px; width: 50px; border-radius:4px; background:#4880ff;}


#nav .swiper-slide a { height:100px; padding:0 22px 0 30px; display:inline-block; color:#c1c1c1; line-height:100px; font-size:18px; }
#nav .swiper-slide:nth-child(1) { width:170px; }
#nav .swiper-slide:nth-child(2) { width:170px; }
#nav .swiper-slide:nth-child(3) { width:190px; }
#nav .swiper-slide:nth-child(4) { width:165px; }
#nav .swiper-slide:nth-child(5) { width:200px; }
#nav .swiper-slide:nth-child(6) { width:165px; }
#nav .swiper-slide:nth-child(7) { width:165px; }
#nav .swiper-slide:nth-child(8) { width:165px; }
#nav .swiper-slide:nth-child(9) { width:180px; }
#nav .swiper-slide:nth-child(10) { width:165px; }
#nav .swiper-slide a:before { content:''; width:38px; height:38px; margin-right:10px; display:inline-block; border-radius:2px; background:url('../images/split.png') #344050 no-repeat; background-position-y:-2px; vertical-align:middle; }
#nav .swiper-slide a.icon1:before { background-position-x:-2px; }
#nav .swiper-slide a.icon2:before { background-position-x:-42px; }
#nav .swiper-slide a.icon3:before { background-position-x:-82px; }
#nav .swiper-slide a.icon4:before { background-position-x:-122px; }
#nav .swiper-slide a.icon5:before { background-position-x:-162px; }
#nav .swiper-slide a.icon6:before { background-position-x:-202px; }
#nav .swiper-slide a.icon7:before { background-position-x:-242px; }
#nav .swiper-slide a.icon8:before { background-position-x:-282px; }
#nav .swiper-slide a.icon9:before { background-position-x:-322px; }
#nav .swiper-slide a.icon10:before { background-position-x:-362px; }
#nav .swiper-slide a:hover, #nav .swiper-slide-active a { background-color:#202e3f; color:#4880ff; }
#nav .swiper-slide a:hover:before, #nav .swiper-slide-active a:before { background-position-y:-42px; }

#nav .swiper-button-next.swiper-button-disabled,
#nav .swiper-button-prev.swiper-button-disabled { opacity:0; }

#nav .swiper-button-next, #nav .swiper-button-prev { height:100%; top:0; margin:0; background:#273444; }
#nav .swiper-button-next:after, #nav .swiper-button-prev:after { font-size:20px; }
#nav .swiper-button-prev, #nav .swiper-container-rtl .swiper-button-next { left:0; }
#nav .swiper-button-next, #nav .swiper-container-rtl .swiper-button-prev { right:0; }

#wrap { min-height:100%; padding-top:100px; position:relative; background:#f5f7ff; }
#wrap:before { content:''; width:240px; position:absolute; left:0; top:100px; bottom:0; background:#2750f2; }
#wrap:after { content:''; display:block; clear:both; }
#wrap.page--login { padding:0; display:flex; align-items:center; justify-content:center; }
#wrap.page--login:before { display:none; }

.boxLogin { width:358px; margin:0 auto; padding-bottom:50px; }
.boxLogin h1 { margin-bottom:80px; text-align:center; font-family: 'Poppins', sans-serif; font-weight:700; font-size:50px; line-height:1; color:#273444; }
.boxLogin h1 span { display:block; font-size:30px; }
.boxLoginInput .title { margin-bottom:6px; color:#273444; font-size:17px; }
.boxLoginInput .input input { width:100%; height:52px; padding:0 16px; border:1px solid #b1bfd5; background:#fff; border-radius:2px; font-size:15px; }
.boxLoginInput .input + .title { margin-top:30px; }
.boxLoginInput .checkSave { margin:20px 0 50px; text-align:center; }
.boxLoginInput .checkSave label { font-size:17px; color:#273444; }
.boxLoginInput input[type="checkbox"]:checked + label:after { content: '\2713'; width:22px; height:22px; left:0; margin-top:-11px; color:#fff; line-height:20px; font-weight:700; }
.boxLoginInput .btn button { width:100%; height:74px; background:#2750f2; color:#fff; font-size:17px; font-weight:500; }


#lnb { width:240px; float:left; position:relative; z-index:2; }
#lnb h2 { height:162px; padding:87px 0 0; position:relative; background:#2249e2; text-align:center; color:#fff; font-size:20px; }
#lnb h2:before { content:''; width:40px; height:40px; position:absolute; left:50%; top:37px; margin-left:-20px; background-image:url('../images/split.png'); background-repeat:no-repeat; }
#lnb h2.icon1:before { background-position:0 0; }
#lnb h2.icon2:before { background-position:-40px 0; }
#lnb h2.icon3:before { background-position:-80px 0; }
#lnb h2.icon4:before { background-position:-120px 0; }
#lnb h2.icon5:before { background-position:-160px 0; }
#lnb h2.icon6:before { background-position:-200px 0; }
#lnb h2.icon7:before { background-position:-240px 0; }
#lnb h2.icon8:before { background-position:-280px 0; }
#lnb h2.icon9:before { background-position:-320px 0; }
#lnb h2.icon10:before { background-position:-360px 0; }
#lnb ul { margin-top:20px; }
#lnb ul li a { height:80px; display:block; text-align:center; line-height:80px; font-size:18px; color:#fff; }
#lnb ul li a span { height:34px; padding:2px 0; display:inline-block; position:relative; vertical-align:middle; line-height:34px; }
#lnb ul li.on a { color:#ffd202; }
#lnb ul li.on a span { border-bottom:2px solid #ffd202; }

#container { margin-left:240px; }
#container .titCont { margin:55px 29px 0; position:relative; overflow:hidden; }
#container .titCont .title { padding:28px 0 0 24px; float:left; font-size:23px; font-weight:700; }
#container .titCont .status { padding:32px 0 0 30px; float:left; font-size:17px; }
#container .titCont .status div { padding:0 10px; float:left; position:relative; }
#container .titCont .status div+div:after { content:''; width:1px; height:16px; position:absolute; left:0; top:50%; margin-top:-8px; background:#ccc; }
#container .titCont .info { position:absolute; right:20px; bottom:4px; font-size:14px; color:#999; }
#container .titCont .info a { color:#999; }
#container .wrapCont { padding:28px; }
#container .wrapCont .boxSearch { margin-bottom:23px; padding:38px 240px 33px 24px; position:relative; background:#fff; border:1px solid #ebedef; }
#container .wrapCont .boxSearch .inputPicker { display:inline-block; margin:0 5px 0 0; position:relative; }
#container .wrapCont .boxSearch .inputPicker input { position:relative; z-index:2; background:transparent; }
#container .wrapCont .boxSearch .inputPicker:after { content:''; width:40px; height:40px; position:absolute; right:5px; top:6px; background:url('../images/split.png') -40px -80px no-repeat; }
#container .wrapCont .boxSearch input,
#container .wrapCont .boxSearch select { height:52px; padding:0 17px; margin-bottom:5px; border-radius:2px; border:1px solid #b1bfd5; font-size:17px; }
#container .wrapCont .boxSearch input::placeholder { color:#b1bfd5; }
#container .wrapCont .boxSearch .inputPicker+select,
#container .wrapCont .boxSearch select+select,
#container .wrapCont .boxSearch select+input,
#container .wrapCont .boxSearch input+input,
#container .wrapCont .boxSearch .inputPicker+input { margin-right:20px; }
#container .wrapCont .boxSearch span.hyp { height:30px; display:inline-block; margin:0 5px; line-height:30px; }
#container .wrapCont .boxSearch select { width:162px; background:url('../images/iconSelect.png') 134px center no-repeat; }
#container .wrapCont .boxSearch input.datepicker { width:224px; }
#container .wrapCont .boxSearch input.searchText { width:300px; }
#container .wrapCont .boxSearch .btn { position:absolute; right:28px; top:38px; overflow:hidden; }
#container .wrapCont .boxSearch .btn a { width:110px; height:52px; display:block; float:left; line-height:52px; text-align:center; color:#fff; font-size:17px; }
#container .wrapCont .boxSearch .btn a.btnReset { background:#273444; }
#container .wrapCont .boxSearch .btn a.btnSearch { margin-left:16px; background:#2750f2; }
#container .wrapCont .boxCont { padding:48px 28px 60px 24px; background:#fff; border:1px solid #ebedef; }
#container .wrapCont .boxCont+.boxCont { margin-top:30px; }
#container .wrapCont .boxCont .top { margin-bottom:20px; position:relative; }
#container .wrapCont .boxCont .top .title { height:38px; padding:0 20px; font-size:20px; line-height:38px; font-weight:700; }
#container .wrapCont .boxCont .top .btn { position:absolute; right:32px; top:0; }
#container .wrapCont .boxCont .top .btn a+a { margin-left:10px; }

#container .wrapCont .boxTopInfo { margin-bottom:23px; padding:38px 24px; position:relative; background:#fff; border:1px solid #ebedef; }
#container .wrapCont .boxTopInfo .innerInfo { display:flex; font-size:17px; }
#container .wrapCont .boxTopInfo .innerInfo div { height:52px; line-height:52px; }
#container .wrapCont .boxTopInfo .innerInfo div+div { margin-left:50px; }
#container .wrapCont .boxTopInfo .btn { position:absolute; right:28px; top:38px; overflow:hidden; }
#container .wrapCont .boxTopInfo .btn a { width:110px; height:52px; display:block; float:left; line-height:52px; text-align:center; color:#fff; font-size:17px; }
#container .wrapCont .boxTopInfo .btn a.btnReset { background:#273444; }
#container .wrapCont .boxTopInfo .btn a.btnSearch { margin-left:16px; background:#2750f2; }

h4.title { padding:0 20px; margin-bottom:28px; font-size:20px; font-weight:700; }

.tableBasic { width:100%; border:1px solid #b1bfd5; }
.tableBasic th { padding:30px 20px; background:#b1bfd5; border:1px solid #b1bfd5; border-right:1px solid #dde9fd; font-size:17px; font-weight:500; }
.tableBasic th:last-of-type { border-right:1px solid #b1bfd5; }
.tableBasic td { padding:30px 15px; border:1px solid #dde9fd; text-align:center; font-size:17px; font-weight:500; }
.tableBasic td:first-of-type { border-left:1px solid #b1bfd5; }
.tableBasic td:last-of-type { border-right:1px solid #b1bfd5; }
.tableBasic tr:last-child td { border-bottom:1px solid #b1bfd5; }

.tableBasic.type--vertical th { border-bottom:1px solid #dde9fd; }
.tableBasic.type--vertical tr:first-child th,
.tableBasic.type--vertical tr:first-child td { border-top:1px solid #b1bfd5; }
.tableBasic.type--vertical th:last-of-type { border-right:1px solid #dde9fd; }
.tableBasic.type--vertical td:first-of-type { border-left:1px solid #dde9fd; }

.inputBasic { width:100%; height:52px; padding:0 23px; border:1px solid #b1bfd5; border-radius:2px; font-size:17px; }
.inputBasic:disabled { background:#ededed; }

.btnBasic { width:110px; height:38px; display:inline-block; background:#5899ff; border-radius:2px; color:#fff; line-height:38px; text-align:center; font-size:17px; }
.btnBasic.modify { background:#c10000; }
.btnGray { width:135px; height:38px; border-radius:5px; border:1px solid #999; background:#f5f7ff; font-size:17px; color:#000; }

.selectBasic { position:relative; border:1px solid #b1bfd5; }
.selectBasic:after { content:''; width:14px; height:9px; position:absolute; right:18px; top:50%; margin-top:-4px; background:url('../images/iconSelectDis.png') no-repeat; background-size:100% auto; }
.selectBasic select { width:100%; height:52px; padding:0 20px; border:0; font-size:17px; }
.selectBasic select:disabled { background:#ededed; color:#000; }

.inputOption { position:relative; }
.inputOption input[type="text"] { padding-right:40px; }
.inputOption span { position:absolute; right:18px; top:50%; transform:translateY(-50%); }

a.type--link { font-size:17px; color:#2750f2; }
a.type--link+a.type--link { margin-left:80px; }
a.type--link+button { margin-left:40px; }

.boxBtn { position:relative; margin:70px 0; text-align:center; }
.boxBtn button { width:110px; height:52px; border-radius:2px; font-size:17px; background:#273444; color:#fff; }
.boxBtn button+button { margin-left:16px; }
.boxBtn .submit { background:#2750f2; }
.boxBtn .modify { background:#c10000; }
.boxBtn .opt { position:absolute; right:0; top:0; }

.pageBasic { margin-top:30px; text-align:center; }
.pageBasic > a { width:38px; height:38px; display:inline-block; position:relative; background:#b1bfd5; border-radius:2px; vertical-align:middle; line-height:38px; font-size:0; text-indent:-99999px; }
.pageBasic > a:hover { background:#253a5d; }
.pageBasic > a:after { content:''; width:6px; height:10px; position:absolute; left:50%; top:50%; margin:-5px 0 0 -3px; background:url('../images/btnPage.png') no-repeat; }
.pageBasic > a.prev, .pageBasic > a.next,
.pageBasic > a.first, .pageBasic > a.last, { font-size:0; text-indent:-99999px; }
.pageBasic > a.first:after { width:12px; margin-left:-6px; background-repeat:repeat-x; }
.pageBasic > a.last:after { width:12px; margin-left:-6px; background-repeat:repeat-x; transform:rotate(180deg); }
.pageBasic > a.next:after { transform:rotate(180deg); }
.pageBasic ul { margin:0 35px; display:inline-block; overflow:hidden; vertical-align:middle; }
.pageBasic ul li { float:left; }
.pageBasic ul li+li { margin-left:20px; }
.pageBasic ul li a { display:inline-block; font-size:18px; color:#c1c1c1; }
.pageBasic ul li.on a { color:#273444; text-decoration:underline; }

.topArea_tab { padding:30px 24px; margin-bottom:30px; background:#fff; border:1px solid #ebedef; overflow:hidden; }
.topArea_tab a { float:left; padding:5px; font-size:16px; font-weight:700; }
.topArea_tab a+a { margin-left:20px; }
.topArea_tab a.active { border-bottom:2px solid #2249e2; }

.tabArea { display:none; }
.tabArea.active { display:block; }

input[type="radio"] { position:absolute; left:-99999px; top:0; opacity:0; }
input[type="radio"] + label { padding-left:30px; position:relative; cursor:pointer; }
input[type="radio"] + label:before { content:''; width:20px; height:20px; position:absolute; left:0; top:50%; margin-top:-10px; border:1px solid #2750f2; background:#fff; border-radius:50%; z-index:1; }
input[type="radio"]:checked + label:after { content:''; width:12px; height:12px; position:absolute; left:5px; top:50%; margin-top:-5px; background:#2750f2; border-radius:50%; z-index:2; }

input[type="checkbox"] { position:absolute; left:-99999px; top:0; opacity:0; }
input[type="checkbox"] + label { padding-left:30px; position:relative; cursor:pointer; }
input[type="checkbox"] + label:before { content:''; width:20px; height:20px; position:absolute; left:0; top:50%; margin-top:-10px; border:1px solid #b1bfd5; background:#fff; border-radius:2px; z-index:1; }
input[type="checkbox"]:checked + label:after { content:''; width:12px; height:12px; position:absolute; left:5px; top:50%; margin-top:-5px; background:#b1bfd5; border-radius:2px; z-index:2; }

label+input+label { margin-left:30px; }

.row { display:flex; position:relative; align-items:center; }
.row.is--division input { width:100%; margin-right:118px; }
.row.is--division button { position:absolute; right:0; top:0; }
.row.is--division button.btnBasic { width:110px; height:52px; background:#2750f2; }
.row.is--half > * { width:50%; }
.row.is--flex > * { flex:1; }

#wrap.page--dashboard:before { display:none; }
#wrap.page--dashboard #container { margin:0; }
#wrap.page--dashboard #container .titCont { padding:28px 24px; background:#fff; font-size:17px; }
#wrap.page--dashboard #container .titCont .title { height:50px; padding:0; line-height:50px; }
#wrap.page--dashboard #container .titCont .info { right:24px; bottom:auto; top:50%; transform:translateY(-50%); font-size:17px; color:#000; }

.boxDashboard { display:flex; flex-wrap:wrap; }
.boxDashboard .item { flex:1 1 40%; padding:20px; margin:10px; background:#fff; font-size:17px; }
.boxDashboard .item .top { margin-bottom:15px; padding-bottom:15px; position:relative; border-bottom:1px solid #ddd }
.boxDashboard .item .top .title { font-weight:700; }
.boxDashboard .item .top .opt { position:absolute; right:0; top:0; }
.boxDashboard .item .cont ul li { overflow:hidden; }
.boxDashboard .item .cont ul li+li { margin-top:10px; }
.boxDashboard .item .cont ul li .title { float:left; }
.boxDashboard .item .cont ul li .data { float:right; }

.popupBasic { width:748px; height:420px; display:none; position:fixed; left:50%; top:50%; border-radius:5px; background:#fff; overflow:hidden; box-shadow: 5px 5px 34px 0 rgba(0, 0, 0, 0.19); transform:translate(-50%, -50%); z-index:15; }
.popupBasic .topArea { height:74px; padding:0 30px; background:#b1bfd5; line-height:74px; color:#fff; font-size:23px; font-weight:700; }
.popupBasic .contArea { min-height:246px; padding:20px 35px 10px; display:flex; align-items:center; justify-content:center; flex-direction:column; }
.popupBasic .contArea .txt { font-size:20px; font-weight:700; line-height:1; }
.popupBasic .contArea .txt span { display:block; margin-top:10px; font-size:17px; color:#2750f2; font-weight:400; }
.popupBasic .contArea textarea { width:494px; height:92px; margin-top:30px; padding:18px; border:1px solid #b1bfd5; border-radius:2px; font-size:17px; font-family:inherit; }
.popupBasic .contArea textarea::placeholder { color:#b1bfd5; }
.popupBasic .btn { padding:10px 0 20px; text-align:center; }
.popupBasic .btn button { width:112px; height:52px; display:inline-block; background:#2750f2; border-radius:2px; color:#fff; font-size:17px ;font-weight:600; }
.popupBasic .btn button.btnCancel { background:#273444; }
.popupBasic .btn button+button { margin-left:10px; }
.popupBasic .tableBasic.type--vertical tr th,
.popupBasic .tableBasic.type--vertical tr td { padding:15px 10px; }
.popupBasic .tableBasic.type--vertical tr td a { display:inline-block; margin-left:30px; text-decoration:underline; color:#2750f2; }


#dim { width:100%; height:100%; display:none; position:fixed; left:0; top:0; background:rgba(0,0,0,0.4); z-index:10; }